<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/header :: header">
    <meta charset="UTF-8" />
    <title>Layout</title>
</head>

<body>
    <!-- Spinner Start -->
    <!-- <div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div> -->

    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div layout:fragment="content"></div>

    <!-- modal for department's details -->
    <div class="modal fade" id="department-details" data-bs-keyboard="true">
            <div
                class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-fullscreen-lg-down"
            >
                <div class="modal-content">
                    <div
                        class="modal-header"
                        style="background-color: #369; color: white"
                    >
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Department Details
                        </h5>
                        <button
                            type="button"
                            class="btn-close text-white btn-close-white"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <!-- TODO :: SHOW DEPARTMENT'S DETAILS -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card">
                                    <div
                                        class="card-body profile-card pt-4 d-flex flex-column align-items-center"
                                    >
                                        <img
                                            src="https://source.unsplash.com/random/200x200?sig=1"
                                            alt="Profile"
                                            class="rounded-circle"
                                            style="height: 100px; width: 100px"
                                        />
                                        <h4 style="margin-top: 10px">
                                            Department Head
                                        </h4>
                                        <h5>Lai Kuan Lin</h5>
                                        <div class="social-links mt-2">
                                            <a href="#" class="twitter"
                                                ><i class="bi bi-twitter"></i
                                            ></a>
                                            <a href="#" class="facebook"
                                                ><i class="bi bi-facebook"></i
                                            ></a>
                                            <a href="#" class="instagram"
                                                ><i class="bi bi-instagram"></i
                                            ></a>
                                            <a href="#" class="linkedin"
                                                ><i class="bi bi-linkedin"></i
                                            ></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <!-- Bordered Tabs -->
                                    <ul class="nav nav-tabs nav-tabs-bordered">
                                        <li class="nav-item">
                                            <button
                                                class="nav-link active"
                                                data-bs-toggle="tab"
                                                data-bs-target="#profile-overview"
                                            >
                                                Overview
                                            </button>
                                        </li>

                                        <li class="nav-item">
                                            <button
                                                class="nav-link"
                                                data-bs-toggle="tab"
                                                data-bs-target="#profile-edit"
                                            >
                                                Edit
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div
                                            class="tab-pane fade show active profile-overview"
                                            id="profile-overview"
                                        >
                                            <div
                                                class="row row-cols-lg-1 row-cols-sm-1 row-cols-md-1 row-cols-xl-2"
                                            >
                                                <ul class="list-group col" style="padding: 0;">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center"
                                                    >
                                                        Total Project
                                                        <span
                                                            class="badge bg-primary rounded-pill"
                                                            >14</span
                                                        >
                                                    </li>
                                                    <br />
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center"
                                                    >
                                                        Total Member
                                                        <span
                                                            class="badge bg-primary rounded-pill"
                                                            >100</span
                                                        >
                                                    </li>
                                                </ul>
                                                <div class="col">
                                                    <canvas 
                                                    style="max-width: 960px; padding: 0; min-width: 300px"
                                                    id="department-projects-chart" height="200"
                                                ></canvas>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div
                                            class="tab-pane fade profile-edit pt-3"
                                            id="profile-edit"
                                        >
                                            <form>
                                                <div>
                                                    <label
                                                        >Department Name</label
                                                    >
                                                    <br /><br />
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        name="departmentname"
                                                        placeholder="Department Name"
                                                    />
                                                </div>
                                                <br />
                                                <div>
                                                    <label for="departmenthead"
                                                        >Choose Deparment
                                                        Head:</label
                                                    ><br /><br />
                                                    <select
                                                        name="departmenthead"
                                                        class="form-control"
                                                    >
                                                        <option value="volvo">
                                                            Phyoe Wai Yan
                                                        </option>
                                                        <option value="saab">
                                                            Zaw Lin Shein
                                                        </option>
                                                        <option value="opel">
                                                            Thant Htet Ko
                                                        </option>
                                                    </select>
                                                </div>
                                                <br />

                                                <button
                                                    style="
                                                        background-color: #369;
                                                    "
                                                    type="submit"
                                                    class="btn btn-primary py-2 w-100 mb-3"
                                                    id="loign-btn"
                                                >
                                                    Edit
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End Bordered Tabs -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- modal for department's details -->

    <!-- task's details start -->
    <div class="modal fade" id="task-details" data-bs-keyboard="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- task's details end -->

    <!-- add task -->
    <div class="modal fade" id="add-task" data-bs-keyboard="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="todo-form">
                        <input type="text" class="form-control" placeholder="New TODO..." id="todo-input" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- add task -->

    <!-- confrim box for delete -->
    <div class="modal fade" id="confirm-box" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Are you sure you want to delete ?</span>
                    <button class="btn btn-danger col me-1">YES</button>
                    <button class="btn btn-primary col" data-bs-dismiss="modal" aria-label="Close">
                        NO
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- confirm box for delete -->

    <!-- modal for project's details -->
    <div
                class="modal fade"
                id="project-details"
                data-bs-keyboard="true"
            >
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                Department Details
                            </h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="card">
                                        <div
                                            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
                                        >
                                            <img
                                                src="https://source.unsplash.com/random/200x200?sig=1"
                                                alt="Profile"
                                                class="rounded-circle"
                                            />
                                            <h2>Kevin Anderson</h2>
                                            <div class="social-links mt-2">
                                                <a href="#" class="twitter"
                                                    ><i
                                                        class="bi bi-twitter"
                                                    ></i
                                                ></a>
                                                <a href="#" class="facebook"
                                                    ><i
                                                        class="bi bi-facebook"
                                                    ></i
                                                ></a>
                                                <a href="#" class="instagram"
                                                    ><i
                                                        class="bi bi-instagram"
                                                    ></i
                                                ></a>
                                                <a href="#" class="linkedin"
                                                    ><i
                                                        class="bi bi-linkedin"
                                                    ></i
                                                ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-8">
                                    <div class="card">
                                        <div class="card-body pt-3">
                                            <!-- Bordered Tabs -->
                                            <ul
                                                class="nav nav-tabs nav-tabs-bordered"
                                            >
                                                <li class="nav-item">
                                                    <button
                                                        class="nav-link active"
                                                        data-bs-toggle="tab"
                                                        data-bs-target="#project-overview"
                                                    >
                                                        Overview
                                                    </button>
                                                </li>

                                                <li class="nav-item">
                                                    <button
                                                        class="nav-link"
                                                        data-bs-toggle="tab"
                                                        data-bs-target="#project-edit"
                                                    >
                                                        edit
                                                    </button>
                                                </li>
                                            </ul>
                                            <div class="tab-content pt-2">
                                                <div
                                                    class="tab-pane fade show active profile-overview"
                                                    id="project-overview"
                                                >
                                                    <h5 class="card-title">
                                                        About background
                                                    </h5>
                                                    <p class="small fst-italic">
                                                        Sunt est soluta
                                                        temporibus accusantium
                                                        neque nam maiores cumque
                                                        temporibus. Tempora
                                                        libero non est unde
                                                        veniam est qui dolor. Ut
                                                        sunt iure rerum quae
                                                        quisquam autem eveniet
                                                        perspiciatis odit. Fuga
                                                        sequi sed ea saepe at
                                                        unde.
                                                    </p>

                                                    <h5 class="card-title">
                                                        Project Details
                                                    </h5>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Department name
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            dance club
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Project name
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            find nemo
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Duration
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            3 Months
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Start date
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            25 september 2022
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            End date
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            25 december 2022
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Current phase
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            Basic design
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Client
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8"
                                                        >
                                                            DAT
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="row d-flex align-items-center"
                                                    >
                                                        <div
                                                            class="col-lg-3 col-md-4 label"
                                                        >
                                                            Objective
                                                        </div>
                                                        <div
                                                            class="col-lg-9 col-md-8 accordion"
                                                        >
                                                            <div
                                                                class="accordion-item"
                                                            >
                                                                <h2
                                                                    class="accordion-header"
                                                                    id="panelsStayOpen-headingOne"
                                                                >
                                                                    <button
                                                                        class="accordion-button"
                                                                        type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#panelsStayOpen-collapseOne"
                                                                        aria-expanded="true"
                                                                        aria-controls="panelsStayOpen-collapseOne"
                                                                    >
                                                                        See
                                                                        details
                                                                    </button>
                                                                </h2>
                                                                <div
                                                                    id="panelsStayOpen-collapseOne"
                                                                    class="accordion-collapse collapse"
                                                                    aria-labelledby="panelsStayOpen-headingOne"
                                                                >
                                                                    <div
                                                                        class="accordion-body"
                                                                    >
                                                                        <strong
                                                                            >This
                                                                            is
                                                                            the
                                                                            first
                                                                            item's
                                                                            accordion
                                                                            body.</strong
                                                                        >
                                                                        It is
                                                                        shown by
                                                                        default,
                                                                        until
                                                                        the
                                                                        collapse
                                                                        plugin
                                                                        adds the
                                                                        appropriate
                                                                        classes
                                                                        that we
                                                                        use to
                                                                        style
                                                                        each
                                                                        element.
                                                                        These
                                                                        classes
                                                                        control
                                                                        the
                                                                        overall
                                                                        appearance,
                                                                        as well
                                                                        as the
                                                                        showing
                                                                        and
                                                                        hiding
                                                                        via CSS
                                                                        transitions.
                                                                        You can
                                                                        modify
                                                                        any of
                                                                        this
                                                                        with
                                                                        custom
                                                                        CSS or
                                                                        overriding
                                                                        our
                                                                        default
                                                                        variables.
                                                                        It's
                                                                        also
                                                                        worth
                                                                        noting
                                                                        that
                                                                        just
                                                                        about
                                                                        any HTML
                                                                        can go
                                                                        within
                                                                        the
                                                                        <code
                                                                            >.accordion-body</code
                                                                        >,
                                                                        though
                                                                        the
                                                                        transition
                                                                        does
                                                                        limit
                                                                        overflow.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div
                                                    class="tab-pane fade profile-edit pt-3"
                                                    id="project-edit"
                                                >
                                                    <!-- Profile Edit Form -->
                                                    <form>
                                                        <div class="row mb-3">
                                                            <label
                                                                for="about"
                                                                class="col-md-4 col-lg-3 col-form-label"
                                                                >About
                                                                background</label
                                                            >
                                                            <div
                                                                class="col-md-8 col-lg-9"
                                                            >
                                                                <div
                                                                    class="quill-editor-bubble"
                                                                >
                                                                    <p>
                                                                        Hello
                                                                        World!
                                                                    </p>
                                                                    <p>
                                                                        This is
                                                                        Quill
                                                                        <strong
                                                                            >full</strong
                                                                        >
                                                                        editor
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label
                                                                for="project_name"
                                                                class="col-md-4 col-lg-3 col-form-label"
                                                                >Project
                                                                name</label
                                                            >
                                                            <div
                                                                class="col-md-8 col-lg-9"
                                                            >
                                                                <input
                                                                    name="project_name"
                                                                    type="text"
                                                                    class="form-control"
                                                                    id="project_name"
                                                                    value="find nemo"
                                                                />
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label
                                                                for="start-date"
                                                                class="col-md-4 col-lg-3 col-form-label"
                                                                >start
                                                                date</label
                                                            >
                                                            <div
                                                                class="col-md-8 col-lg-9"
                                                            >
                                                                <input
                                                                    name="start_date"
                                                                    type="date"
                                                                    class="form-control"
                                                                    id="start-date"
                                                                />
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label
                                                                for="end-date"
                                                                class="col-md-4 col-lg-3 col-form-label"
                                                                >end date</label
                                                            >
                                                            <div
                                                                class="col-md-8 col-lg-9"
                                                            >
                                                                <input
                                                                    name="end_date"
                                                                    type="date"
                                                                    class="form-control"
                                                                    id="end-date"
                                                                />
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label
                                                                for="end-date"
                                                                class="col-md-4 col-lg-3 col-form-label"
                                                                >Objective</label
                                                            >
                                                            <div
                                                                class="col-md-8 col-lg-9"
                                                            >
                                                                <div
                                                                    class="quill-editor-bubble"
                                                                >
                                                                    <p>
                                                                        Hello
                                                                        World!
                                                                    </p>
                                                                    <p>
                                                                        This is
                                                                        Quill
                                                                        <strong
                                                                            >full</strong
                                                                        >
                                                                        editor
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="text-center"
                                                        >
                                                            <button
                                                                type="submit"
                                                                class="btn btn-primary"
                                                            >
                                                                Save Changes
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <!-- End Profile Edit Form -->
                                                </div>
                                            </div>
                                            <!-- End Bordered Tabs -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/project" class="btn btn-primary"
                                >manage task</a
                            >
                        </div>
                    </div>
                </div>
            </div>
    <!-- modal for project's details -->

    <!-- add department modal -->
    <div class="modal fade" id="add-department-modal" data-bs-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- TODO :: REDESIGN FORM FOR ADDING DEPARTMENT -->
                    <form>
                        <h1 class="modal-title fs-5" style="
                                    margin-bottom: 10px;
                                    text-align: center;
                                    color: #369;
                                    font-weight: bold;
                                ">
                            Add Department
                        </h1>
                        <div>
                            <label>Department Name</label> <br /><br />
                            <input type="text" class="form-control" name="departmentname"
                                placeholder="Department Name" />
                        </div>
                        <br />
                        <div>
                            <label for="departmenthead">Choose Deparment
                                Head:</label><br /><br />
                            <select name="departmenthead" id="departmenthead" class="form-control">
                                <option value="volvo">Phyoe Wai Yan</option>
                                <option value="saab">Zaw Lin Shein</option>
                                <option value="opel">Thant Htet Ko</option>
                            </select>
                        </div>
                        <br />

                        <button style="background-color: #369" type="submit" class="btn btn-primary py-2 w-100 mb-3">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- add department modal -->

    <div th:replace="fragments/footer :: footer"></div>

    <!-- fontawesome -->
    <script src="/js/fontawesome.js"></script>

    <!-- jquery -->
    <script src="/js/jquery.3.7.1.min.js"></script>

    <!-- datable table -->
    <script src="/js/databales.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- javascript libraries -->
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/lib/quill/quill.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/forprogresscircleiguess.js"></script>

    <!-- sort (department, project), form validation and search bar behavior are all here -->
    <script src="/js/custome.js"></script>
    <script>
        let quillEditors = document.querySelectorAll(
                ".quill-editor-bubble"
        );

        // Initialize Quill for each selected element
        quillEditors.forEach(function (editor) {
                new Quill(editor, {
                theme: "bubble",
            });
        });
    </script>
</body>

</html>