<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout/layout"
      lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body layout:fragment="content">

<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container-fluid position-relative d-flex p-0">

    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">
        <div th:replace="fragments/navigation :: navigation-without-search"></div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">

                <!--                sec:authorize="hasAnyRole('PMO','SDQC')"-->
                <div class="col-sm-6 col-xl-3" sec:authorize="hasAnyRole('PMO','SDQC')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-collection-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Project</p>
                            <h6 class="mb-0" id="projectCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" sec:authorize="hasAnyRole('PMO','SDQC')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-people-group fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Employee</p>
                            <h6 class="mb-0" id="employeeCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" sec:authorize="hasAnyRole('PMO','SDQC')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-user-tie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Client</p>
                            <h6 class="mb-0" id="clientCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" sec:authorize="hasAnyRole('PMO','SDQC')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-buildings-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Department</p>
                            <h6 class="mb-0" id="departmentCount"></h6>
                        </div>
                    </div>
                </div>
                <!--                sec:authorize="hasAnyRole('PMO','SDQC')"-->

                <!--                sec:authorize="hasRole('DEPARTMENT_HEAD')"-->
                <div class="col-sm-12 col-xl-6" sec:authorize="hasRole('DEPARTMENT_HEAD')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-list-task fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Projects Count</p>
                            <h6 class="mb-0" id="department-head-projects-count"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6" sec:authorize="hasRole('DEPARTMENT_HEAD')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-stack fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Employees Count</p>
                            <h6 class="mb-0" id="department-head-employees-count"></h6>
                        </div>
                    </div>
                </div>
                <!--                sec:authorize="hasRole('DEPARTMENT_HEAD')"-->

                <!--                sec:authorize="hasRole('PROJECT_MANAGER')"-->
                <div class="col-sm-12 col-xl-4" sec:authorize="hasRole('PROJECT_MANAGER')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-collection-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Projects Count</p>
                            <h6 class="mb-0" id="pm-projects-count"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4" sec:authorize="hasRole('PROJECT_MANAGER')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-patch-check-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Finished Projects</p>
                            <h6 class="mb-0" id="pm-finished-projects-count"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4" sec:authorize="hasRole('PROJECT_MANAGER')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-hourglass-split fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Ongoing Projects</p>
                            <h6 class="mb-0" id="pm-ongoing-projects-count"></h6>
                        </div>
                    </div>
                </div>
                <!--                sec:authorize="hasRole('PROJECT_MANAGER')"-->

                <!--                sec:authorize="hasAnyRole('EMPLOYEE','FOC','CONTRACT')"-->
                <div class="col-sm-12 col-xl-4" sec:authorize="hasAnyRole('EMPLOYEE','FOC','CONTRACT')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-list-task fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Tasks To Do</p>
                            <h6 class="mb-0" id="to-do-tasks-Count"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4" sec:authorize="hasAnyRole('EMPLOYEE','FOC','CONTRACT')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-stack fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Tasks In Progress</p>
                            <h6 class="mb-0" id="in-progress-tasks-Count"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4" sec:authorize="hasAnyRole('EMPLOYEE','FOC','CONTRACT')">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-patch-check-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Finished Tasks</p>
                            <h6 class="mb-0" id="finished-tasks-Count"></h6>
                        </div>
                    </div>
                </div>
                <!--                sec:authorize="hasAnyRole('EMPLOYEE','FOC','CONTRACT')"-->

                <div class="col col-md-12" sec:authorize="hasAnyRole('PMO','SDQC','DEPARTMENT_HEAD','PROJECT_MANAGER')">
                    <div class="card border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="lead">Monthly Man-Month</p>

                                <div class="d-flex gap-2">

                                    <div class="dropdown" id="department-dropdown-div">
                                        <a class="dropdown-toggle text-decoration-none" type="button"
                                           id="departmentDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Department
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="departmentDropDown">
                                        </ul>
                                    </div>

                                    <div id="department-name-div" style="display: none">
                                        <span id="department-name">
                                        </span>
                                    </div>

                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-decoration-none" type="button"
                                           id="projectDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Project
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="projectDropDown">
                                        </ul>
                                    </div>

                                    <div>
                                        <a style="text-decoration: none"
                                           class="text-white bg-primary p-2 rounded-pill chart-filter-reset-btn">
                                            Reset </a>
                                    </div>
                                </div>
                            </div>

                            <div class="bar-chart-con">
                                <canvas id="man-month-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-12" sec:authorize="hasAnyRole('EMPLOYEE','FOC','CONTRACT')">
                    <div class="card border">
                        <div class="card-body">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6"
                     sec:authorize="hasAnyRole('PMO','SDQC','DEPARTMENT_HEAD','PROJECT_MANAGER')">
                    <div class="card border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="lead">Productivity</p>

                            </div>

                            <div class="bar-chart-con">
                                <canvas id="productivity-1-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6"
                     sec:authorize="hasAnyRole('PMO','SDQC','DEPARTMENT_HEAD','PROJECT_MANAGER')">
                    <div class="card border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="lead">KPI</p>
                            </div>

                            <div class="bar-chart-con">
                                <canvas id="productivity-2-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: aside"></div>

    </div>
    <!-- Content End -->


</div>

<!--    for select drop-drown-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/lib/quill/quill.min.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>

<script type="module">
    import {sendData, getData} from "/js/api-function.js";
    import {getUser} from "/js/currentLoginUser.js";

    const currentUser = await getUser();

    $(document).ready(function () {
        setupLogoutConfirmation();

    });

    $(document).ready(function () {


        $("#spinner").hide();

        const mmChartElement = document.getElementById("man-month-chart")
        const p1ChartElement = document.getElementById("productivity-1-chart")
        const p2ChartElement = document.getElementById("productivity-2-chart")
        const calendarElement = document.getElementById("calendar")

        if (calendarElement) {

            const tasks = []

            $.ajax({
                url: "api/task/list/user/" + currentUser.currentUser.id,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log("USERS TASK : ", data)
                    data.forEach((task) => {
                        tasks.push(task)
                    })
                    buildCalendar(tasks)
                },
            })

            function buildCalendar(tasks) {
                const calendar = new FullCalendar.Calendar(calendarElement, {
                    initialView: 'dayGridMonth',
                    weekends: false,
                    headerToolbar: {
                        left: "",
                        center: "title",
                        right: 'today prev,next'
                    },
                    events: tasks.map((task) => {
                        return {
                            title: task.title,
                            extendedProps: {
                                title: task.title,
                                description: task.description,
                                status: task.status,
                                planHours: task.planHours,
                                taskId: task.id,
                            },
                            start: new Date(task.plan_start_time),
                            end: new Date(task.plan_end_time + 86400000),
                            color: task.tasksGroup === 'A' ? "#444cf7" : task.tasksGroup === 'B' ? "#f7c744" : "#f74444",
                            textColor: "white",
                            allDay: true
                        }
                    }),
                    eventDidMount: function (info) {
                        const popover = new bootstrap.Popover(info.el, {
                            title: info.event.extendedProps.title,
                            content: info.event.extendedProps.description,
                            placement: 'top',
                            trigger: 'hover',
                            container: 'body'
                        });
                    },
                });
                calendar.render();
            }
        }

        if (mmChartElement && p1ChartElement && p2ChartElement) {
            // Get the mm chart canvas
            const mmctx = document.getElementById("man-month-chart").getContext('2d');

            const initialManMonthData = {
                labels: ['yyyy-mm'],
                datasets: [{
                    label: 'Actual',
                    data: [], // actual manhours from api
                    backgroundColor: '#444cf7',
                    borderColor: '#444cf7',
                    borderWidth: 1,
                    fill: false,
                }, {
                    label: 'Target',
                    data: [], // plan manhours from api
                    backgroundColor: '#e5e5f7',
                    borderColor: '#e5e5f7',
                    borderWidth: 1,
                    fill: false,
                }],
            }

            // Create the line chart for mm
            const lineChart = new Chart(mmctx, {
                type: 'bar',
                data: initialManMonthData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 1200
                        }
                    }
                }
            });

            //Get Productivity Chart Canvas
            const p1ctx = document.getElementById("productivity-1-chart").getContext('2d');

            const initialProductivityData = {
                datasets: [{
                    label: 'Productivity Ratio',
                    data: [],
                    backgroundColor: '#444cf7',
                    borderColor: '#444cf7',
                    borderWidth: 1,//border width
                    fill: false,
                    tension: 0.1,//line tension
                    categoryPercentage: 0.5,//bar width
                }
                ]
            }

            // Create bar chart for p1ctx with percentageDifferenceData
            const barChart = new Chart(p1ctx, {
                type: 'line',
                data: initialProductivityData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 200,
                        }
                    }
                }
            });

            //Get KPI chart Canvas
            const p2ctx = document.getElementById("productivity-2-chart").getContext('2d');

            const initialKpiData = {
                labels: ["KPI"],
                datasets: [{
                    label: 'Review KPI',
                    data: [],
                    backgroundColor: '#444cf7',
                    borderColor: '#444cf7',
                    borderWidth: 1,//border width
                    fill: false,
                },
                    {
                        label: 'Detail KPI',
                        data: [],
                        backgroundColor: '#d8077c',
                        borderColor: '#e5e5f7',
                        borderWidth: 1,//border width
                        fill: false,
                    },
                    {
                        label: 'Coding KPI',
                        data: [],
                        backgroundColor: '#288f0b',
                        borderColor: '#e5e5f7',
                        borderWidth: 1,//border width
                        fill: false,
                    },
                    {
                        label: 'UnitTest KPI',
                        data: [],
                        backgroundColor: '#b7620d',
                        borderColor: '#e5e5f7',
                        borderWidth: 1,//border width
                        fill: false,
                    },
                    {
                        label: 'IntegratedTest KPI',
                        data: [],
                        backgroundColor: '#14b9c5',
                        borderColor: '#e5e5f7',
                        borderWidth: 1,//border width
                        fill: false,
                    }

                ]
            }

            //Create bar chart for p2ctx with screenToReviewRatios
            const barChart2 = new Chart(p2ctx, {
                type: 'bar',
                data: initialKpiData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 250,
                            ticks: {
                                stepSize: 5

                            }
                        }
                    }
                }
            });


            switch (currentUser.currentUser.role) {
                case "PMO":
                case "SDQC":
                    // Make an AJAX request to fetch the department list
                    $.ajax({
                        url: '/api/department/list', // Replace with your API endpoint
                        method: 'GET',
                        success: function (data) {
                            const departmentDropdown = $('#departmentDropDown'); // Corrected the ID here
                            const dropdownMenu = departmentDropdown.next('.dropdown-menu');
                            dropdownMenu.empty(); // Clear the dropdown menu

                            $.each(data, function (index, department) {
                                dropdownMenu.append(`<li><a class="dropdown-item" href="#" data-value="${department.name}">${department.name}</a></li>`);
                            });

                            // Handle click event on the dynamic items
                            dropdownMenu.on('click', '.dropdown-item', function () {
                                const selectedValue = $(this).data('value');
                                //change the text of the dropdown button
                                departmentDropdown.text(selectedValue);
                                // call the api to get the project list for the selected department
                                getProjectList(selectedValue);
                            });
                        },
                        error: function () {
                            console.error('Failed to fetch department list.');
                        }
                    });
                    break;
                case "DEPARTMENT_HEAD":
                    $("#department-dropdown-div").hide();
                    $("#department-name-div").show();
                    $("#department-name").text(currentUser.currentUser.department.name);
                    getProjectList(currentUser.currentUser.department.name);
                    break;
                case "PROJECT_MANAGER":
                    $("#department-dropdown-div").hide();
                    //initialize project drop down with currentUser.currentUser.projectsByProjectManager
                    const projectDropdown = $('#projectDropDown');
                    const projects = currentUser.currentUser.projectsByProjectManager;
                    if (projects === null || projects.length === 0) {
                        projectDropdown.text('No Project');
                        $('.project-dropDown').addClass('disabled');
                    } else {
                        //enable dropdown
                        $('.project-dropDown').removeClass('disabled');
                        //change dropdown item to select project
                        projectDropdown.text('Select Project');
                    }
                    const dropdownMenu = projectDropdown.next('.dropdown-menu');
                    dropdownMenu.empty(); // Clear the dropdown menu

                    $.each(projects, function (index, project) {
                        dropdownMenu.append(`<li><a class="dropdown-item" href="#" data-value="${project.id}">${project.name}</a></li>`);
                    });

                    // Handle click event on the dynamic items
                    dropdownMenu.on('click', '.dropdown-item', function () {
                        const selectedValue = $(this).data('value');
                        //change the text of project name to the dropdown button
                        projectDropdown.text($(this).text());
                        console.log(selectedValue)
                        updateManMonthChart(selectedValue)
                        updateProductivityChart(selectedValue)
                        updateKpiChart(selectedValue)
                    });
                    break;
                default:
                    break;
            }


            // Make an AJAX request to fetch the project list with the name of the department with api/project/list/department-name/{departmentName}
            function getProjectList(departmentName) {
                $.ajax({
                    url: `/api/project/list/department-name/${departmentName}`, // Replace with your API endpoint
                    method: 'GET',
                    success: function (data) {
                        const projectDropdown = $('#projectDropDown'); // Corrected the ID here
                        if (data === null || data.length === 0) {
                            //change dropdown item to no project and disable it
                            projectDropdown.text('No Project');
                            $('.project-dropDown').addClass('disabled');
                        } else {
                            //enable dropdown
                            $('.project-dropDown').removeClass('disabled');
                            //change dropdown item to select project
                            projectDropdown.text('Select Project');
                        }

                        const dropdownMenu = projectDropdown.next('.dropdown-menu');
                        dropdownMenu.empty(); // Clear the dropdown menu

                        $.each(data, function (index, project) {
                            dropdownMenu.append(`<li><a class="dropdown-item" href="#" data-value="${project.id}">${project.name}</a></li>`);
                        });

                        // Handle click event on the dynamic items
                        dropdownMenu.on('click', '.dropdown-item', function () {
                            const selectedValue = $(this).data('value');
                            //change the text of project name to the dropdown button
                            projectDropdown.text($(this).text());
                            console.log(selectedValue)
                            updateManMonthChart(selectedValue)
                            updateProductivityChart(selectedValue)
                            updateKpiChart(selectedValue)
                        });


                    },
                    error: function () {
                        console.error('Failed to fetch project list.');
                    }
                });
            }

            // Function to update the chart
            function updateManMonthChart(selectedValue) {
                // Make a jQuery AJAX call for Dataset 1
                $.ajax({
                    url: `api/dashboard/man-month/project/${selectedValue}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {

                        // Update chart data for Dataset 1
                        lineChart.data.datasets[0].data = data.map((data) => data.actualManMonthHours);
                        lineChart.data.datasets[1].data = data.map((data) => data.planManMonthHours);
                        // lineChart.data.datasets[0].data = [20]
                        lineChart.data.labels = data.map((data) => data.monthName);

                        lineChart.options.scales.y.min = 0;
                        lineChart.options.scales.y.max = Math.max(...data.map((data) => data.planManMonthHours)) + 100;


                        // Update the chart
                        lineChart.update();
                    },
                    error: function (error) {
                        console.error('Error fetching data :', error);
                    }
                });
            }

            function updateProductivityChart(selectedValue) {
                $.ajax({
                    url: `api/dashboard/productivity/project/${selectedValue}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Update chart data for Dataset 1
                        barChart.data.datasets[0].data = data.map((data) => data.productivityRatio);
                        barChart.data.labels = data.map((data) => data.monthName);

                        barChart.options.scales.y.min = 0;
                        barChart.options.scales.y.max = 10

                        // Update the chart
                        barChart.update();
                    },
                    error: function (error) {
                        console.error('Error fetching data :', error);
                    }
                });
            }

            function updateKpiChart(selectedValue) {
                $.ajax({
                    url: `api/dashboard/kpi/project/${selectedValue}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {

                        barChart2.data.datasets.forEach((dataset, index) => {
                            const label = dataset.label.toLowerCase().replace(" ", "_");
                            dataset.data.push(data[label]);
                        });

                        // Update the chart options
                        barChart2.options.scales.y.min = 0;
                        barChart2.options.scales.y.max = 250;

                        // Update the chart
                        barChart2.update();
                    },
                    error: function (error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }


            $('.chart-filter-reset-btn').on('click', function () {
                $('#departmentDropDown').text('Select Department');
                $('#projectDropDown').text('Select Project');
                //clear project dropdown
                $('#projectDropDown').next('.dropdown-menu').empty();


                lineChart.data.datasets[0].data = [];
                lineChart.data.datasets[1].data = [];

                barChart.data.datasets[0].data = [];
                barChart.data.labels = [];

                barChart2.data.datasets.forEach((dataset, index) => {
                    dataset.data = [];
                });


                //clear x axis labels
                lineChart.data.labels = [];
                barChart.data.labels = [];
                barChart2.data.labels = [];
                lineChart.update();
                barChart.update();
                barChart2.update();
            });
        }

        $.ajax({
            url: "api/task/count/status/TODO",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#to-do-tasks-Count").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        })

        $.ajax({
            url: "api/task/count/status/IN_PROGRESS",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#in-progress-tasks-Count").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        })

        $.ajax({
            url: "api/task/count/status/FINISHED",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#finished-tasks-Count").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        })

        //get user counts by api/user/count/all
        $.ajax({
            url: "/api/user/count/all",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#employeeCount").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        });

        //get client counts by api/client/count
        $.ajax({
            url: "/api/client/count",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#clientCount").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        });


        //get client counts by api/department/count with getData()
        $.ajax({
            url: "/api/department/count",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#departmentCount").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        });

        //get project counts by api/project/count/all with getData()
        $.ajax({
            url: "/api/project/count/all",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#projectCount").text(data);
            },
            error: function (error) {
                console.log(error);
            }
        });

        //get project counts by api/project/count/department/{departmentId} with getData()
        $.ajax({
            url: "/api/project/count/department/" + currentUser.currentUser.department.id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#department-head-projects-count").text(data);
            },
        })

        $.ajax({
            url: "api/user/count/department/" + currentUser.currentUser.department.id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#department-head-employees-count").text(data);
            },
        })

        $.ajax({
            url: "api/project/count/project-manager/" + currentUser.currentUser.id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#pm-projects-count").text(data);
            },
        })

        $.ajax({
            url: "api/project/count/project-manager/" + currentUser.currentUser.id + "/status/" + false,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#pm-ongoing-projects-count").text(data);
            },
        })

        $.ajax({
            url: "api/project/count/project-manager/" + currentUser.currentUser.id + "/status/Finished",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#pm-finished-projects-count").text(data);
            },
        })

    });

</script>
<script src="/js/notification.js" type="module"></script>
</body>

</html>