<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
   <title>Dashboard</title>
</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">


        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-collection-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Project</p>
                            <!-- TODO :: SHOW THE NUMBER OF PROJECTS -->
                            <h6 class="mb-0">1234</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-people-group fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Employe</p>
                            <!-- TODO :: SHOW THE NUMBER OF EMPLOYEE -->
                            <h6 class="mb-0">100000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-dog fa-3x text-dark"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Client</p>
                            <!-- TODO :: SHOW THE NUMBER OF CLIENT -->
                            <h6 class="mb-0">999999</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-buildings-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Department</p>
                            <!-- TODO :: SHOW THE NUMBER OF DEPARTMENT -->
                            <h6 class="mb-0">1234</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-md-12 border border-dark" style="height: 400px">
                    <!-- TODO :: PUT CHART HERE -->
                    <div>Monthly MM Chart here</div>
                </div>
                <div class="col-sm-12 col-md-6 border border-dark" style="height: 400px">
                    <!-- TODO :: PUT CHART HERE -->
                    <div>Productivity Chart here</div>
                </div>
                <div class="col-sm-12 col-md-6 border border-dark" style="height: 400px">
                    <!-- TODO :: PUT CHART HERE -->
                    <div>Productivity Chart here</div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Project Management</a>, All
                        Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By
                        <a href="https://github.com/zawlinshein">Papaya</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
</div>


</body>

</html>