<!--

    TODO :: PUT CHART

    TODO :: SHOW THE NUMBER OF DEPARTMENT, EMPLOYEE, CLIENT, PROJECT

 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout/layout"
      lang="en">

<head>
</head>

<body layout:fragment="content">

     <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    <!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container-fluid position-relative d-flex p-0">

    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">
        <div th:replace="fragments/navigation :: navigation-without-search"></div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-collection-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Project</p>
                            <!-- TODO :: SHOW THE NUMBER OF PROJECTS -->
                            <h6 class="mb-0" id="projectCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-people-group fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Employee</p>
                            <!-- TODO :: SHOW THE NUMBER OF EMPLOYEE -->
                            <h6 class="mb-0" id="employeeCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-dog fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Client</p>
                            <!-- TODO :: SHOW THE NUMBER OF CLIENT -->
                            <h6 class="mb-0" id="clientCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-buildings-fill fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Department</p>
                            <!-- TODO :: SHOW THE NUMBER OF DEPARTMENT -->
                            <h6 class="mb-0" id="departmentCount"></h6>
                        </div>
                    </div>
                </div>
                <div class="col col-md-12">
                    <div class="card border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="lead">Monthly Man-Month</p>

                                <div class="dropdown">
                                    <a class="dropdown-toggle text-decoration-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Projects List
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    </ul>
                                </div>
                            </div>

                            <div class="bar-chart-con">
                                <canvas id="man-month-chart" height="500"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="lead">Productivity</p>

                                <div class="dropdown">
                                    <a class="dropdown-toggle text-decoration-none" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                        Month
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">January</a></li>
                                        <li><a class="dropdown-item" href="#">February</a></li>
                                        <li><a class="dropdown-item" href="#">March</a></li>
                                        <li><a class="dropdown-item" href="#">April</a></li>
                                        <li><a class="dropdown-item" href="#">May</a></li>
                                        <li><a class="dropdown-item" href="#">June</a></li>
                                        <li><a class="dropdown-item" href="#">July</a></li>
                                        <li><a class="dropdown-item" href="#">August</a></li>
                                        <li><a class="dropdown-item" href="#">September</a></li>
                                        <li><a class="dropdown-item" href="#">October</a></li>
                                        <li><a class="dropdown-item" href="#">November</a></li>
                                        <li><a class="dropdown-item" href="#">December</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="bar-chart-con">
                                <canvas id="productivity-1-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" >
                    <div class="card border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="lead">Productivity</p>

                                <div class="dropdown">
                                    <a class="dropdown-toggle text-decoration-none" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                        Month
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                        <li><a class="dropdown-item" href="#">January</a></li>
                                        <li><a class="dropdown-item" href="#">February</a></li>
                                        <li><a class="dropdown-item" href="#">March</a></li>
                                        <li><a class="dropdown-item" href="#">April</a></li>
                                        <li><a class="dropdown-item" href="#">May</a></li>
                                        <li><a class="dropdown-item" href="#">June</a></li>
                                        <li><a class="dropdown-item" href="#">July</a></li>
                                        <li><a class="dropdown-item" href="#">August</a></li>
                                        <li><a class="dropdown-item" href="#">September</a></li>
                                        <li><a class="dropdown-item" href="#">October</a></li>
                                        <li><a class="dropdown-item" href="#">November</a></li>
                                        <li><a class="dropdown-item" href="#">December</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="bar-chart-con">
                                <canvas id="productivity-2-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: aside"></div>

    </div>
    <!-- Content End -->



</div>

<!--    for select drop-drown-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/lib/quill/quill.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>

     <script type="module">
         import { sendData, getData} from "/js/api-function.js";

         $(document).ready(function () {
             $("#spinner").hide();

             // Make an AJAX request to fetch the project list
             $.ajax({
                 url: '/api/project/list', // Replace with your API endpoint
                 method: 'GET',
                 success: function(data) {
                     const projectDropdown = $('#projectDropdown');
                     projectDropdown.empty(); // Clear the dropdown
                     data.forEach(function(project) {
                         const projectItem = $('<li>').append($('<a>', {
                             class: 'dropdown-item',
                             href: '#',
                             text: project.name,
                             'data-value': project.name, // Add a data-value attribute with the project name
                         }));
                         projectDropdown.append(projectItem);
                     });

                     // Handle click event on the dynamic items
                     projectDropdown.on('click', '.dropdown-item', function() {
                         const selectedValue = $(this).data('value');
                         alert(`Selected project: ${selectedValue}`);
                     });
                 },
                 error: function() {
                     console.error('Failed to fetch project list.');
                 }
             });

             // Dummy data
             const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                 "October", "November", "December"];
             const actualData = [null,null,null,80, 70, 90, 85, 80];
             const targetData = [60, 65, 70, 75, 80, 85, 90, 95, 100, 100, 100, 100];

             // Get the chart canvas
             const ctx = document.getElementById("man-month-chart").getContext('2d');

             // Create the line chart
             const lineChart = new Chart(ctx, {
                 type: 'bar',
                 data: {
                     labels: months,
                     datasets: [{
                         label: 'Actual',
                         data: actualData,
                         backgroundColor: '#444cf7',
                         borderColor: '#444cf7',
                         borderWidth: 1,
                         fill: false,
                         tension: 0.1
                     }, {
                         label: 'Target',
                         data: targetData,
                         backgroundColor: '#e5e5f7',
                         borderColor: '#e5e5f7',
                         borderWidth: 1,
                         fill: false,
                         tension: 0.1
                     }]
                 },
                 options: {
                     responsive: true,
                     maintainAspectRatio: false,
                     scales: {
                         y: {
                             beginAtZero: true,
                             max: 100,
                         }
                     }
                 }
             });


             getData("/api/user/count", function (error,data) {
                 if(error) {
                     console.log(
                         error
                     )
                 } else {
                     console.log(data);
                        $("#spinner").hide();
                        $("#employeeCount").text(data);
                 }
             });

             //get client counts by api/client/count
                $.ajax({
                    url: "/api/client/count",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#spinner").hide();
                        $("#clientCount").text(data);
                    },
                    error: function (error) {
                        $("#spinner").hide();
                        console.log(error);
                    }
                });


             //get client counts by api/department/count with getData()
                getData("/api/department/count", function (error,data) {
                    if(error) {
                        console.log(
                            error
                        )
                    } else {
                        console.log(data);
                            $("#spinner").hide();
                            $("#departmentCount").text(data);
                    }
                });


         });
     </script>
</body>

</html>