<!--

    TODO :: DEPARTMENT'S DETAILS DESIGN IN MODAL

    TODO :: ADD DEPARTMENT FUNCTIONALITY

    TODO :: CHANGE FORM DESIGN FOR ADD DPARTMENT

 -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">

<head>

</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0" layout:fragment="content">


    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">
        <div th:replace="fragments/navigation :: navigation"></div>

        <!-- Search Start -->
        <div class="container-fluid d-md-block pt-2 ps-s pe-2" id="dropdrown-search-bar">
            <div class="d-flex flex-row justify-content-between position-relative">
                <form class="d-md-flex">
                    <input class="form-control border-0" type="search" placeholder="Search" />
                </form>
                <div class="position-absolute end-0 d-flex gap-3">
                    <!-- modal toggle button start -->
                    <button type="button" class="btn btn-light align-self-start" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        <i class="bi bi-building-fill-add"></i>
                    </button>
                    <!-- modal toggle button end -->
                    <!-- add department modal start -->

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">
                                        Add new Department
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- TODO :: REDESIGN FORM FOR ADDING DEPARTMENT -->
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                   placeholder="name@example.com" />
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                        <div class="form-floating mb-4">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                   placeholder="Password" />
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4"
                                                id="loign-btn">
                                            Sign In
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- add department modal end -->
                    <!-- sortting button -->
                    <i class="bi bi-sort-alpha-down sort-btn text-dark"></i>
                </div>

                <!-- Modal -->
            </div>
        </div>
        <!-- Search End -->

        <!-- department start -->
        <div class="container-fluid border mt-sm-3 mt-3 mt-md-0">
            <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gap-md-0 g-3 p-sm-2"
                 id="sort-container">
                <!-- TODO :: SHOW ALL PROJECT LIST START FROM HERE -->
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">z</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">z</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">z</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">zaw lin shein</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO :: SHOW ALL PROJECT LIST END HERE -->
            </div>
        </div>
        <!-- department end -->
    </div>
    <!-- Content End -->

   </div>


</body>

</html>