<!--

    TODO :: DEPARTMENT'S DETAILS DESIGN IN MODAL

    TODO :: ADD DEPARTMENT FUNCTIONALITY

    TODO :: CHANGE FORM DESIGN FOR ADD DPARTMENT

 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="keywords" content="project, management, project management, teamplaceholder project management" />
    <meta content name="description" />
    <meta name="author" content="teamplaceholder's project" />

    <!-- Favicon -->
    <!-- <link href="/images/favicon.ico" rel="icon"> -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="/font/bootstrap-icons.min.css" />

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar navbar-light">
            <a href="dashboard.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">
                    <i class="fa fa-hashtag me-2"></i>DASHMIN
                </h3>
            </a>
            <div class="navbar-nav w-100 gap-2">
                <!-- TODO:: GOT TO MAIN/DASHBOARD -->
                <a href="dashboard.html" class="nav-item nav-link"><i
                        class="bi bi-clipboard-data-fill me-1"></i>Dashboard</a>
                <!-- TODO :: GOT TO DEPARTMENT LIST -->
                <a href="department.html" class="nav-item nav-link"><i
                        class="fa-solid fa-building"></i>Department</a>
                <a href="2projects.html" class="nav-item nav-link"><i class="bi bi-collection-fill me-1"></i>All
                    Projects</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0">
                    <i class="fa fa-hashtag"></i>
                </h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <i class="bi bi-search d-md-none d-block d-sm-block fs-4" id="drop-down-search-btn"></i>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://source.unsplash.com/random/200x200?sig=1"
                                     alt style="width: 40px; height: 40px" />
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">
                                        Jhon send you a message
                                    </h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificatin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-dark rounded-bottom m-0 overflow-auto"
                         style="height: 200px">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">
                                Profile updated
                            </h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">
                                New user added
                            </h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">
                                Password changed
                            </h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">
                                New user added
                            </h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">
                                New user added
                            </h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">
                                New user added
                            </h6>
                            <small>15 minutes ago</small>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle" src="https://source.unsplash.com/random/200x200?sig=1" alt
                             style="width: 40px; height: 40px" />
                        <span class="d-none d-lg-inline-flex">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-dark rounded-bottom m-0">
                        <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profile-modal">My
                            Profile</a>
                        <!-- <a href="#" class="dropdown-item">Settings</a> -->
                        <a href="#" class="dropdown-item d-flex gap-1"><i
                                class="bi bi-box-arrow-right text-danger"></i>Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Search Start -->
        <div class="container-fluid d-md-block pt-2 ps-s pe-2" id="dropdrown-search-bar">
            <div class="d-flex flex-row justify-content-between position-relative">
                <form class="d-md-flex">
                    <input class="form-control border-0" type="search" placeholder="Search" />
                </form>
                <div class="position-absolute end-0 d-flex gap-3">
                    <!-- modal toggle button start -->
                    <button type="button" class="btn btn-light align-self-start" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        <i class="bi bi-building-fill-add"></i>
                    </button>
                    <!-- modal toggle button end -->
                    <!-- add department modal start -->

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">
                                        Add new Department
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- TODO :: REDESIGN FORM FOR ADDING DEPARTMENT -->
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                   placeholder="name@example.com" />
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                        <div class="form-floating mb-4">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                   placeholder="Password" />
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4"
                                                id="loign-btn">
                                            Sign In
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- add department modal end -->
                    <!-- sortting button -->
                    <i class="bi bi-sort-alpha-down sort-btn text-dark"></i>
                </div>

                <!-- Modal -->
            </div>
        </div>
        <!-- Search End -->

        <!-- department start -->
        <div class="container-fluid border mt-sm-3 mt-3 mt-md-0">
            <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gap-md-0 g-3 p-sm-2"
                 id="sort-container">
                <!-- TODO :: SHOW ALL PROJECT LIST START FROM HERE -->
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">z</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">z</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">z</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-md-3 p-sm-2 active-card" data-bs-toggle="modal" data-bs-target="#department-details">
                    <div class="card">
                        <div class="card-header border-bottom text-dark position-relative">
                            <h4 class="card-title modal-detail-title">zaw lin shein</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-item-center">
                                <img src="https://source.unsplash.com/random/200x200?sig=1"
                                     class="img-fluid rounded-circle w-25" alt="..." />
                                <h5 class="card-title text-center text-align-center m-auto">
                                    Department Head's Name
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO :: SHOW ALL PROJECT LIST END HERE -->
            </div>
        </div>
        <!-- department end -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- modal for department's details -->
<div class="modal fade" id="department-details" data-bs-keyboard="true">
    <div
            class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Department Details
                </h5>
                <button type="button" class="btn-close text-white btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- TODO :: SHOW DEPARTMENT'S DETAILS -->
                <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2">
                    <div class="col border border-dark rounded p-2">
                        <div class="row row-cols-1">
                            <img src="https://source.unsplash.com/random/200x200?sig=1" alt=""
                                 class="rounded-circle col m-auto border img-fluid" style="width: 40%;">
                            <p class="text-center fs-1 col m-auto">Zaw Lin Shein</p>
                        </div>
                        <ul class="list-group mb-2">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Project
                                <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Member
                                <span class="badge bg-primary rounded-pill">100</span>
                            </li>
                        </ul>
                        <a href="2projects.html" class="btn btn-primary">See Projects</a>
                    </div>
                    <div>
                        <canvas class="col-6 border border-dark rounded mt-2 bg-dark w-100"
                                id="department-projects-chart" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal for department's details -->


<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>

<script>
    const ctx = document.getElementById("department-projects-chart");

    const firstChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
                "January",
                "February",
                "March",
                "Apirl",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
            ],

            datasets: [
                {
                    label: "project one",
                    backgroundColor: "rgba(255, 111, 200, 0.5)",
                    data: [0, 0, 3, 5, 2, 3],
                    fill: true,
                    borderColor: "rgb(255, 111, 200)",
                    pointRadius: 0,
                    borderWidth: 1,
                },
                {
                    label: "project two",
                    backgroundColor: "rgba(100, 111, 200, 0.5)",
                    data: [20, 10, 58, 12],
                    fill: true,
                    borderColor: "rgb(100, 111, 200)",
                    pointRadius: 0,
                    borderWidth: 1,
                },
                {
                    label: "project one",
                    backgroundColor: "rgba(255, 0, 0, 0.5)",
                    data: [23, 85, 10, 5, 25, 7, 65, 77, 10],
                    fill: true,
                    borderColor: "rgb(255, 0, 0)",
                    pointRadius: 0,
                    borderWidth: 1,
                },
                {
                    label: "project one",
                    backgroundColor: "rgba(0, 255, 0, 0.5)",
                    data: [5, 50, 10, 5, 54, 3, 65],
                    fill: true,
                    borderColor: "rgb(0, 255, 0)",
                    pointRadius: 0,
                    borderWidth: 1,
                },
                {
                    label: "project one",
                    backgroundColor: "rgba(0, 0, 255, 0.5)",
                    data: [
                        89, 45, 33, 15, 25, 3, 34, 44, 58, 89, 45, 33,
                    ],
                    fill: true,
                    borderColor: "rgb(0, 0, 255)",
                    pointRadius: 0,
                    borderWidth: 1,
                },
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
            animation: {
                duration: 2000,
            },
            legend: {
                display: true,
            },
            responsive: false
        },
    });

    console.log(firstChart);
    firstChart.config.options.animation.duration = 5000;
</script>
</body>

</html>