<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>EMPLOYEES LIST</title>
</head>
<body layout:fragment="content">
<div
        class="container-fluid position-relative bg-white d-flex p-0"
>

    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- Content Start -->
    <div
            class="content"
            style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                "
    >
        <div th:replace="fragments/navigation :: navigation-with-search"></div>
    </div>
</div>

</body>
</html>