<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout/layout"
      lang="en">

<body layout:fragment="content">

<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container-fluid position-relative d-flex p-0">

    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;">

        <div th:replace="fragments/navigation :: navigation-with-search"></div>

        <div class="container-fluid">
            <div class="container-fluid d-md-block pt-2 ps-s pe-2"
                    id="dropdrown-search-bar">
                <div class="d-flex flex-row justify-content-between position-relative">
                    <form class="d-md-flex">
                        <input class="form-control border-0" type="search" placeholder="Search" />
                    </form>
                    <div class="position-absolute end-0 d-flex gap-3">
                        <!-- modal toggle button start -->
                        <button
                                type="button"
                                class="btn btn-light align-self-start"
                                data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop"
                        >
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <!-- modal toggle button end -->

                        <!-- add department modal start -->
                        <div
                                class="modal fade bd-example-modal-lg"
                                id="staticBackdrop"
                                data-bs-backdrop="static"
                                data-bs-keyboard="true"
                        >
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">
                                            Create New Issue
                                        </h1>
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- TODO :: REDESIGN FORM FOR ADDING DEPARTMENT -->
                                        <form>
                                            <!-- issue modal start -->


                                            <div class="row">
                                                <div class="col">
                                                    <label for="title">Issue Title</label>
                                                    <input type="text" class="form-control" id="title"
                                                           placeholder="Title">
                                                </div>
                                                <div class="col">
                                                    <label for="categories">Issue Category</label>
                                                    <select name="countries" id="categories" multiple>
                                                        <option value="1">Afghanistan</option>
                                                        <option value="2">Australia</option>
                                                        <option value="3">Germany</option>
                                                        <option value="4">Canada</option>
                                                        <option value="5">Russia</option>
                                                        <option value="6">America</option>
                                                        <option value="7">Spain</option>
                                                        <option value="8">Turkey</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <label for="editor">Description</label>
                                            <div class="quill-editor-bubble" id="editor">

                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <label for="directcause">Direct Cause</label>
                                                    <textarea class="form-control" id="directcause"></textarea>
                                                </div>
                                                <div class="col">
                                                    <label for="rootcause">Root Cause</label>
                                                    <textarea class="form-control" id="rootcause"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="impact">Impact</label>
                                                    <textarea class="form-control" id="impact"></textarea>
                                                </div>
                                                <div class="col">
                                                    <label for="place">Place</label>
                                                    <textarea class="form-control" id="place"></textarea>
                                                </div>
                                            </div>


                                            <!-- issue modal end -->
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                                type="menu"
                                                class="btn btn-secondary"
                                                data-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button
                                                type="submit"
                                                class="btn btn-primary"
                                                data-bs-target="#"
                                        >
                                            Add New Issue
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add department modal end -->

                        <!-- sortting button -->
                        <i
                                class="bi bi-sort-alpha-down sort-btn text-dark"
                        ></i>
                    </div>

                    <!-- Modal -->
                </div>
            </div>
            <div class="row row-cols-1" id="sort-container">
                <div class="p-md-3 p-sm-2 mt-3">
                    <div class="card">
                        <div
                                class="card-header border-bottom text-dark"
                        >

                            <div class="col d-flex align-items-center gap-2">
                                <h4
                                        class="card-title modal-detail-title"
                                >
                                    a
                                </h4>

                                <h6
                                        class="card-title"
                                >
                                    Name
                                </h6>

                                <span
                                        class="card-title badge rounded-pill bg-danger"
                                >Danger</span
                                >
                                <button class="btn btn-primary" data-bs-target="#issue-details" data-bs-toggle="modal">
                                    see more
                                </button>
                            </div>

                            <div
                                    class="col issue-time-line d-flex gap-2"
                            >
                                <div
                                        class="d-flex align-items-center gap-2"
                                >
                                    <p>Posted</p>
                                    <span>3 days ago</span>
                                </div>
                                <div
                                        class="d-flex align-items-center gap-2"
                                >
                                    <p>Modified at</p>
                                    <span>1 minute ago</span>
                                </div>
                            </div>
                            <div
                                    class="col issue-time-line d-flex gap-2"
                            >
                                <p
                                        class="btn custom-color rounded-pill"
                                >
                                    java
                                </p>
                                <p
                                        class="btn custom-color rounded-pill"
                                >
                                    error
                                </p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="code-block">
                                <p>
                                    this code does not work help me
                                    please
                                </p>
                                <pre>private final CustomUserDetailsService userDetailsService;
  &#64;Bean
  public AuthenticationProvider authenticationProvider&#40;&#41; &#123;
      DaoAuthenticationProvider authProvider = new DaoAuthenticationProvider&#40;&#41;;;
      authProvider.setUserDetailsService&#40;userDetailsService&#41;;
      authProvider.setPasswordEncoder&#40;passwordEncoder&#40;&#41;&#41;;
      return authProvider;
  &#125;</pre
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-md-3 p-sm-2 mt-3">
                    <div class="card">
                        <div
                                class="card-header border-bottom text-dark"
                        >
                            <div
                                    class="col d-flex align-items-center gap-2"
                            >
                                <h4
                                        class="card-title modal-detail-title"
                                >
                                    Title
                                </h4>

                                <h6
                                        class="card-title"
                                >
                                    Name
                                </h6>
                                <span
                                        class="card-title badge rounded-pill bg-success"
                                >Success</span
                                >
                                <button class="btn btn-primary" data-bs-target="#issue-details" data-bs-toggle="modal">
                                    see more
                                </button>
                            </div>
                            <div
                                    class="col issue-time-line d-flex gap-2">
                                <div class="d-flex align-items-center gap-2">
                                    <p>Posted</p>
                                    <span>3 days ago</span>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <p>Modified at</p>
                                    <span>1 minute ago</span>
                                </div>
                            </div>
                            <div class="col issue-time-line d-flex gap-2">
                                <p class="btn custom-color rounded-pill">
                                    html
                                </p>
                                <p class="btn custom-color rounded-pill">
                                    bug
                                </p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="code-block">
                                <p>
                                    this code does not work help me
                                    please
                                </p>
                                <pre>
&lt;div th:data-el_id="${element.getId()}"&gt; &lt;!-- does not work --&gt;
&lt;div data-th-el_id="${element.getId()}"&gt; &lt;!-- does not work --&gt;</pre
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <div
            class="modal fade"
            id="issue-details"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        Issue Details
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <div class="btn btn-primary" id="issue-edit-btn">
                            edit
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1 gap-2">
                            <div class="col">
                                <h4>corrective action</h4>
                                <div class="editable text-wrap">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>preventive action</h4>
                                <div class="editable text-break">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>direct cause</h4>
                                <div class="editable text-break">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>root cause</h4>
                                <div class="editable text-break">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>impact</h4>
                                <div class="editable text-break">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>place</h4>
                                <div class="editable text-break">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
    ><i class="bi bi-arrow-up"></i
    ></a>
</div>

<!--    for select drop-drown-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/lib/quill/quill.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>

<script>

    const editOpenBtn = document.querySelector('button[data-bs-target="#issue-details"]')

    const issueEditBtn = document.getElementById('issue-edit-btn')

    editOpenBtn.addEventListener('click', function (e) {
        // TODO :: SHOULD CALL AJAX FUNCTION WHEN CLICK AND CREATE DIV 
        console.log("open issue detail modal")
        issueEditBtn.innerText = 'edit'
    })

    issueEditBtn.addEventListener('click', function (e) {

        if (this.innerText === 'edit') {  // Use '===' for comparison
            const eidtable = Array.from(document.getElementsByClassName('editable'));
            console.log(eidtable);
            for (let i = 0; i < eidtable.length; i++) {
                let d = eidtable[i];
                let input = document.createElement('textarea');
                input.value = d.innerText;
                input.classList.add('form-control');
                input.classList.add('editable');
                input.setAttribute('rows', 5);
                console.log(d.parentNode);
                d.parentNode.replaceChild(input, d);
            }
            this.innerText = 'save';
        } else if (this.innerText === 'save') {  // Use '===' for comparison
            const eidtable = Array.from(document.getElementsByClassName('editable'));
            for (let i = 0; i < eidtable.length; i++) {
                let d = eidtable[i];
                let input = document.createElement('div');
                input.textContent = d.value;  // Use textContent to set text for div
                input.classList.add('editable', 'text-break');
                console.log(d.parentNode);
                d.parentNode.replaceChild(input, d);
            }
            this.innerText = 'edit';
        }
    });


    let quillEditors = document.querySelectorAll(
        ".quill-editor-bubble"
    );

    let toolbaroptions = [
        // Test-style
        ["bold", "italic", "underline"],

        // Bullet points style...
        [{list: "ordered"}, {list: "bullet"}],

        // Sub and super script...
        [{script: "sub"}, {script: "super"}],

        // Indentation...
        [{indent: "+1"}, {indent: "-1"}],

        // Alignment
        [{align: []}],

        // Header for test, e.g., h1, h2...
        [{header: [1, 2, 3, 4, 5, 6, false]}],

        // Adding image, link, video, or formula
        ["link"],

        // Adding code snippet or blockquote
        ["code-block", "blockquote"],
    ];

    // Initialize Quill for each selected element
    quillEditors.forEach(function (editor) {
        new Quill(editor, {
            modules: {
                toolbar: toolbaroptions,
            },
            theme: "snow",
        });
    });

    let fullQuillEditor = document.querySelector(".quill-editor-full");

    new Quill(fullQuillEditor, {
        modules: {
            toolbar: toolbaroptions,
        },
        theme: "snow",
    });

    // Author: Habib Mhamadi
    // Email: habibmhamadi@gmail.com

    new MultiSelectTag("categories"), new MultiSelectTag("state"); // id

    function MultiSelectTag(
        el,
        customs = {shadow: false, rounded: true}
    ) {
        let element = null;
        let options = null;
        let customSelectContainer = null;
        let wrapper = null;
        let btnContainer = null;
        let body = null;
        let inputContainer = null;
        let inputBody = null;
        let input = null;
        let button = null;
        let drawer = null;
        let ul = null;
        let domParser = new DOMParser();
        init();

        function init() {
            element = document.getElementById(el);
            createElements();
            initOptions();
            enableItemSelection();
            setValues(false);

            button.addEventListener("click", () => {
                if (drawer.classList.contains("hidden")) {
                    initOptions();
                    enableItemSelection();
                    drawer.classList.remove("hidden");
                    input.focus();
                }
            });

            input.addEventListener("keyup", (e) => {
                initOptions(e.target.value);
                enableItemSelection();
            });

            input.addEventListener("keydown", (e) => {
                if (
                    e.key === "Backspace" &&
                    !e.target.value &&
                    inputContainer.childElementCount > 1
                ) {
                    const child =
                        body.children[
                        inputContainer.childElementCount - 2
                            ].firstChild;
                    const option = options.find(
                        (op) => op.value == child.dataset.value
                    );
                    option.selected = false;
                    removeTag(child.dataset.value);
                    setValues();
                }
            });

            window.addEventListener("click", (e) => {
                if (!customSelectContainer.contains(e.target)) {
                    drawer.classList.add("hidden");
                }
            });
        }

        function createElements() {
            // Create custom elements
            options = getOptions();
            element.classList.add("hidden");

            // .multi-select-tag
            customSelectContainer = document.createElement("div");
            customSelectContainer.classList.add("mult-select-tag");

            // .container
            wrapper = document.createElement("div");
            wrapper.classList.add("wrapper");

            // body
            body = document.createElement("div");
            body.classList.add("body");
            if (customs.shadow) {
                body.classList.add("shadow");
            }
            if (customs.rounded) {
                body.classList.add("rounded");
            }

            // .input-container
            inputContainer = document.createElement("div");
            inputContainer.classList.add("input-container");

            // input
            input = document.createElement("input");
            input.classList.add("input");
            input.placeholder = `${customs.placeholder || "Search..."}`;

            inputBody = document.createElement("inputBody");
            inputBody.classList.add("input-body");
            inputBody.append(input);

            body.append(inputContainer);

            // .btn-container
            btnContainer = document.createElement("div");
            btnContainer.classList.add("btn-container");

            // button
            button = document.createElement("button");
            button.type = "button";
            btnContainer.append(button);

            const icon = domParser.parseFromString(
                `<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="18 15 12 21 6 15"></polyline></svg>`,
                "image/svg+xml"
            ).documentElement;
            button.append(icon);

            body.append(btnContainer);
            wrapper.append(body);

            drawer = document.createElement("div");
            drawer.classList.add(...["drawer", "hidden"]);
            if (customs.shadow) {
                drawer.classList.add("shadow");
            }
            if (customs.rounded) {
                drawer.classList.add("rounded");
            }
            drawer.append(inputBody);
            ul = document.createElement("ul");

            drawer.appendChild(ul);

            customSelectContainer.appendChild(wrapper);
            customSelectContainer.appendChild(drawer);

            // Place TailwindTagSelection after the element
            if (element.nextSibling) {
                element.parentNode.insertBefore(
                    customSelectContainer,
                    element.nextSibling
                );
            } else {
                element.parentNode.appendChild(customSelectContainer);
            }
        }

        function initOptions(val = null) {
            ul.innerHTML = "";
            for (let option of options) {
                if (option.selected) {
                    !isTagSelected(option.value) && createTag(option);
                } else {
                    const li = document.createElement("li");
                    li.innerHTML = option.label;
                    li.dataset.value = option.value;

                    // For search
                    if (
                        val &&
                        option.label
                            .toLowerCase()
                            .startsWith(val.toLowerCase())
                    ) {
                        ul.appendChild(li);
                    } else if (!val) {
                        ul.appendChild(li);
                    }
                }
            }
        }

        function createTag(option) {
            // Create and show selected item as tag
            const itemDiv = document.createElement("div");
            itemDiv.classList.add("item-container");
            const itemLabel = document.createElement("div");
            itemLabel.classList.add("item-label");
            itemLabel.innerHTML = option.label;
            itemLabel.dataset.value = option.value;
            const itemClose = new DOMParser().parseFromString(
                `<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="item-close-svg">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>`,
                "image/svg+xml"
            ).documentElement;

            itemClose.addEventListener("click", (e) => {
                const unselectOption = options.find(
                    (op) => op.value == option.value
                );
                unselectOption.selected = false;
                removeTag(option.value);
                initOptions();
                setValues();
            });

            itemDiv.appendChild(itemLabel);
            itemDiv.appendChild(itemClose);
            inputContainer.append(itemDiv);
        }

        function enableItemSelection() {
            // Add click listener to the list items
            for (let li of ul.children) {
                li.addEventListener("click", (e) => {
                    options.find(
                        (o) => o.value == e.target.dataset.value
                    ).selected = true;
                    input.value = null;
                    initOptions();
                    setValues();
                    input.focus();
                });
            }
        }

        function isTagSelected(val) {
            // If the item is already selected
            for (let child of inputContainer.children) {
                if (
                    !child.classList.contains("input-body") &&
                    child.firstChild.dataset.value == val
                ) {
                    return true;
                }
            }
            return false;
        }

        function removeTag(val) {
            // Remove selected item
            for (let child of inputContainer.children) {
                if (
                    !child.classList.contains("input-body") &&
                    child.firstChild.dataset.value == val
                ) {
                    inputContainer.removeChild(child);
                }
            }
        }

        function setValues(fireEvent = true) {
            // Update element final values
            selected_values = [];
            for (let i = 0; i < options.length; i++) {
                element.options[i].selected = options[i].selected;
                if (options[i].selected) {
                    selected_values.push({
                        label: options[i].label,
                        value: options[i].value,
                    });
                }
            }
            if (fireEvent && customs.hasOwnProperty("onChange")) {
                customs.onChange(selected_values);
            }
        }

        function getOptions() {
            // Map element options
            return [...element.options].map((op) => {
                return {
                    value: op.value,
                    label: op.label,
                    selected: op.selected,
                };
            });
        }
    }


    const issue = [{
        id: 1,
        title: "title",
        uploader: { id: 1, name: "thant" },
        status: true, // complete or not
        createdDate: 1702000000000,
        modified: 0,
        category: ["error", "bug"],
        description: `<div class="code-block">
                                <p>"this code does not work"</p>
                                <pre class="ql-syntax" spellcheck="false">aercawercawecrawe{}@#!@#!@</pre>
                            </div>`,
        corractive: "bla",
        preventive: "bla",
        direct: "bla",
        root: "bla",
        impact: "bla",
        place: "bla"
    }];



</script>
</body>
</html>
