<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout/layout"
      lang="en">
<head>
    <style>

        .ql-toolbar {
            color: white;
        }
        .ql-editor {

        }
    </style>
</head>

<body layout:fragment="content">

<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container-fluid position-relative d-flex p-0">

    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;">

        <div th:replace="fragments/navigation :: navigation-with-search"></div>

        <div class="container-fluid">
            <div class="container-fluid d-md-block pt-2 ps-s pe-2"
                    id="dropdrown-search-bar">
                <div class="d-flex flex-row justify-content-between position-relative">
                    <form class="d-md-flex">
                        <input class="form-control border-0" type="search" placeholder="Search" />
                    </form>
                    <div class="position-absolute end-0 d-flex gap-3">
                        <!-- modal toggle button start -->
                        <button type="button" class="btn btn-light align-self-start" data-bs-toggle="modal" data-bs-target="#add-issue">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <!-- modal toggle button end -->

                        <!-- sortting button -->
                        <i class="bi bi-sort-alpha-down sort-btn text-dark"></i>
                    </div>

                    <!-- Modal -->
                </div>
            </div>


<!--            issue list-->
            <div class="row row-cols-1" id="sort">

            </div>



            <div class="row row-cols-1" id="sort-container">
                <div class="p-md-3 p-sm-2 mt-3">
                    <div class="card">
                        <div class="card-header border-bottom text-dark">

                            <div class="d-flex justify-content-between align-items-center gap-2">
                                <div class="d-flex align-items-center gap-2">
                                    <h6 class="card-title">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h6>


                                    <p class="card-title badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary border border-primary rounded-pill">
                                        Phyo Wai Yan Lin Zaw
                                    </p>

                                    <p class="card-title badge d-flex align-items-center p-1 pe-2 text-warning-emphasis bg-warning border border-warning rounded-pill">
                                        Zaw Lin Shein
                                    </p>


                                </div>
                                <span class="card-title badge rounded-pill bg-danger">Danger</span>


                            </div>

                            <div class="col d-flex justify-content-between align-items-center issue-time-line d-flex gap-2">
                            <div class="d-flex align-items-center gap-2">
                                <p>Posted</p><span>3 days ago</span>
                                <p>Modified at</p><span>1 minute ago</span>
                            </div>
                                <button class="btn btn-primary btn-sm" data-bs-target="#issue-details" data-bs-toggle="modal">
                                    See More
                                </button>
                            </div>
                            <div class="col issue-time-line d-flex gap-2">
                                <p class="btn custom-color rounded-pill">java</p>
                                <p class="btn custom-color rounded-pill">error</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="code-block">
                                <p> this code does not work help me please</p>
                                <pre>private final CustomUserDetailsService userDetailsService;
  &#64;Bean
  public AuthenticationProvider authenticationProvider&#40;&#41; &#123;
      DaoAuthenticationProvider authProvider = new DaoAuthenticationProvider&#40;&#41;;;
      authProvider.setUserDetailsService&#40;userDetailsService&#41;;
      authProvider.setPasswordEncoder&#40;passwordEncoder&#40;&#41;&#41;;
      return authProvider;
  &#125;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- Content End -->

    <div
            class="modal fade"
            id="issue-details"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        Issue Details
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <div class="btn btn-primary" id="issue-edit-btn">
                            edit
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1 gap-2" id="issue_detail">
                            <div class="col">
                                <h4>corrective action</h4>
                                <div class="editable text-wrap" id="corrective_action">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>preventive action</h4>
                                <div class="editable text-break" id="preventive_action">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>direct cause</h4>
                                <div class="editable text-break" id="direct_causeValue">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>root cause</h4>
                                <div class="editable text-break" id="root_causeValue">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>impact</h4>
                                <div class="editable text-break" id="impactValue">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                            <div class="col">
                                <h4>place</h4>
                                <div class="editable text-break" id="placeValue">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus accusamus
                                    a excepturi consectetur eveniet dolorem ut similique error eius. Sit ipsum
                                    voluptatibus fugiat velit dolorum voluptatum, unde eum nesciunt.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add issue modal start -->
    <div class="modal fade bd-example-modal-lg" id="add-issue" data-bs-keyboard="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create New Issue</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- TODO :: REDESIGN FORM FOR ADDING DEPARTMENT -->

                    <!-- issue modal start -->
                    <div class="row g-3 " >
                        <div class="col-lg-6">
                            <label for="title" class="col-sm-12 col-form-label" name="title">Issue Title<span
                                    style="color:#e86666"> *</span></label>
                            <input type="text" class="form-control border-task-description" id="title" name="title" placeholder="Title">
                        </div>

                        <div class="col-lg-6">
                            <label for="issue_category" class="col-sm-12 col-form-label" name="issue_category">Issue Category<span
                                    style="color:red"> *</span></label>
                            <select class="form-select border-task-description" name="issue_category" id="issue_category" >
                                <option selected disabled hidden>Select Issue Category</option>
                                <option value="ERROR">Error</option>
                                <option value="BUG">Bug</option>
                                <option value="COMMUNICATION">Communication</option>
                                <option value="TECHNICAL">Technical</option>
                                <option value="BUDGET">Budget</option>
                                <option value="DESIGN">Design</option>
                                <option value="TESTING">Testing</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="user_pic" class="col-sm-12 col-form-label" name="user_pic">Person In Charge <span
                                    style="color:red"> *</span></label>
                            <select class="form-select border-task-description" data-live-search="true" aria-label="Select Clients"  id="user_pic" name="user_pic" >

                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="responsible_party" class="col-sm-12 col-form-label" name="responsible_party">Responsible Party <span
                                    style="color:red"> *</span></label>
                            <select class="form-select border-task-description" aria-label="Select Clients"  id="responsible_party" name="responsible_party" >
                                <option selected disabled>Select Responsible Party</option>
                                <option value="1">Phyo Wai Yan Lin Zaw</option>
                                <option value="2">Zaw Lin Shein</option>
                                <option value="3">Ei Ei Phyo</option>
                                <option value="4">Hnin Aye Lwin</option>
                                <option value="5">Thant Htet Ko</option>
                            </select>
                        </div>

                        <div class="col-lg-12" style="margin-bottom: 80px;">
                            <label for="description" class="col-sm-12 col-form-label" name="name">Description<span
                                    style="color:#e86666"> *</span></label>
                            <div class="quill-editor-bubble form-control" id="description" name="description"></div>
                        </div>

                        <div class="col-lg-6">
                            <label for="direct_cause" class="col-sm-12 col-form-label" name="direct_cause">Direct Cause<span
                                    style="color:#e86666"> *</span></label>

                            <textarea class="form-control border-task-description" id="direct_cause" name="direct_cause"></textarea>
                        </div>

                        <div class="col-lg-6">
                            <label for="root_cause" class="col-sm-12 col-form-label" name="root_cause">Root Cause<span
                                    style="color:#e86666"> *</span></label>
                            <textarea class="form-control border-task-description" id="root_cause"></textarea>
                        </div>

                        <div class="col-lg-6">
                            <label for="place" class="col-sm-12 col-form-label" name="place">Place<span
                                    style="color:#e86666"> *</span></label>
                            <textarea class="form-control border-task-description" id="place" name="place"></textarea>
                        </div>

                        <div class="col-lg-6">
                            <label for="impact" class="col-sm-12 col-form-label" name="impact">Impact<span
                                    style="color:#e86666"> *</span></label>
                            <textarea class="form-control border-task-description" id="impact" name="impact"></textarea>
                        </div>

                        <div class="w-25 m-auto d-flex justify-content-center align-items-center gap-2 mt-2">
                            <button type="button" id="addIssue" class="btn btn-primary" >Save Data</button>
                        </div>

                    </div>
                    <!-- issue modal end -->

                </div>



            </div>

        </div>
    </div>
    <!-- add issue modal end -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
    ><i class="bi bi-arrow-up"></i
    ></a>
</div>




<!--    for select drop-drown-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>




<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/lib/quill/quill.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>


<!--<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>-->

<script>

    const editOpenBtn = document.querySelector('button[data-bs-target="#issue-details"]')

    const issueEditBtn = document.getElementById('issue-edit-btn')

    editOpenBtn.addEventListener('click', function (e) {
        // TODO :: SHOULD CALL AJAX FUNCTION WHEN CLICK AND CREATE DIV
        console.log("open issue detail modal")
        issueEditBtn.innerText = 'edit'
    })

    issueEditBtn.addEventListener('click', function (e) {

        if (this.innerText === 'edit') {  // Use '===' for comparison
            const eidtable = Array.from(document.getElementsByClassName('editable'));
            console.log(eidtable);
            for (let i = 0; i < eidtable.length; i++) {
                let d = eidtable[i];
                let input = document.createElement('textarea');
                input.value = d.innerText;
                input.classList.add('form-control');
                input.classList.add('editable');
                input.setAttribute('rows', 5);
                console.log(d.parentNode);
                d.parentNode.replaceChild(input, d);
            }
            this.innerText = 'save';
        } else if (this.innerText === 'save') {  // Use '===' for comparison
            const eidtable = Array.from(document.getElementsByClassName('editable'));
            for (let i = 0; i < eidtable.length; i++) {
                let d = eidtable[i];
                let input = document.createElement('div');
                input.textContent = d.value;  // Use textContent to set text for div
                input.classList.add('editable', 'text-break');
                console.log(d.parentNode);
                d.parentNode.replaceChild(input, d);
            }
            this.innerText = 'edit';
        }
    });



    // Author: Habib Mhamadi
    // Email: habibmhamadi@gmail.comd
    function getTimeAgo(timestamp) {
        const date = new Date(timestamp);
        const currentDate = new Date();
        const timeDifference = currentDate - date;
        const seconds = Math.floor(timeDifference / 1000);
        const minutes = Math.floor(seconds / 60);
        const hours = Math.floor(minutes / 60);
        const days = Math.floor(hours / 24);

        if (days < 1) {
            if (hours < 1) {
                if (minutes < 1) {
                    return "Just now";
                } else {
                    return `${minutes} minute${minutes > 1 ? 's' : ''} ago`;
                }
            } else {
                return `${hours} hour${hours > 1 ? 's' : ''} ago`;
            }
        } else if (days < 30) {
            return `${days} day${days > 1 ? 's' : ''} ago`;
        } else {
            const months = Math.floor(days / 30);
            return `${months} month${months > 1 ? 's' : ''} ago`;
        }
    }

    for (let i = 0; i < issueArray.length; i++) {
        let currentData = issueArray[i];
        let curDiv = `<div class="p-md-3 p-sm-2 mt-3" id="${currentData.id}">
                    <div class="card">
                        <div class="card-header border-bottom text-dark">
                            <div class="col d-flex align-items-center gap-2">
                                <h4 class="card-title modal-detail-title">Title</h4>

                                <h6 class="card-title">${currentData.title}</h6>
                                <span class="badge rounded-pill bg-${currentData.status ? success : danger}">${currentData.status ? success : danger}</span>
                                <button class="btn btn-primary" data-bs-target="#issue-details" data-bs-toggle="modal">
                                    see more
                                </button>
                            </div>
                            <div class="col issue-time-line d-flex gap-2">
                                <div class="d-flex align-items-center gap-2">
                                    <p>Posted</p>
                                    <span>${getTimeAgo(currentData.createdDate)}</span>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <p>Modified at</p>
                                    <span>1 minute ago</span>
                                </div>
                            </div>
                            <div class="col issue-time-line d-flex gap-2">
                            ${currentData.category.forEach(a => {
                                `<p class="btn custom-color rounded-pill">
                                    ${a}
                                </p>`
                            })}
                            </div>
                        </div>
                        <div class="card-body">
                            ${currentData.description}
                        </div>
                    </div>
                </div>`

        document.querySelector("#sort-container").innerHTML += currDiv;
    }

</script>

<script>
    let quillEditors = document.querySelectorAll(
        ".quill-editor-bubble"
    );

    let toolbaroptions = [
        // Test-style
        ["bold", "italic", "underline"],

        // Bullet points style...
        [{list: "ordered"}, {list: "bullet"}],

        // Sub and super script...
        [{script: "sub"}, {script: "super"}],

        // Indentation...
        [{indent: "+1"}, {indent: "-1"}],

        // Alignment
        [{align: []}],

        // Header for test, e.g., h1, h2...
        [{header: [1, 2, 3, 4, 5, 6, false]}],

        // Adding image, link, video, or formula
        ["link"],

        // Adding code snippet or blockquote
        ["code-block", "blockquote"],
    ];

    // If you want to initialize Quill for a specific element, you can do it like this:
    let specificQuillEditor = document.querySelector("#description"); // Change the selector as needed
    const a = new Quill(specificQuillEditor, {
        modules: {
            toolbar: toolbaroptions,
        },
        theme: "snow",
    });


    var user_pic = $('#user_pic');

    // Fetch user data from the server
    $.get('api/user/list', function (data) {
        user_pic.empty();
        user_pic.append($('<option>', {
            value: '', // Add an empty option for placeholder
            text: 'Select a User',
            data: { picUrl: '' } // Empty URL for placeholder
        }));
        $.each(data, function (index, pic) {
            user_pic.append($('<option>', {
                value: pic.id,
                text: pic.name,
                data: { picUrl: pic.picUrl }
            }));
        });
    });

    $('#addIssue').on('click', function () {
        var title = $('#title').val();
       // var description = a.root.innerHTML; // Assuming "a" is your Quill instance
        var place = $('#place').val();
        var impact = $('#impact').val();
        var root_cause = $('#root_cause').val();
        var direct_cause = $('#direct_cause').val();
        var responsible_party = $('#responsible_party').val();
        var user_picOption = user_pic.find(':selected');
        var user_picValue = user_picOption.val();
        var user_picUrl = user_picOption.data('picUrl');
        var issue_category = $('#issue_category').val();

        // Check if any of the required fields are empty
        if (
            title === "" ||
           // description === "" ||
            place === "" ||
            impact === "" ||
            root_cause === "" ||
            direct_cause === "" ||
            responsible_party === null ||
            user_picValue === null ||
            issue_category === null
        ) {
            alert("Please fill in all the required fields.");
            return;
        }

        const requestData = {
            title: title,
           // description: description,
            place: place,
            impact: impact,
            root_cause: root_cause,
            direct_cause: direct_cause,
            responsible_party: responsible_party,
            user_pic: user_picUrl,
            issue_category: issue_category
        };

        console.log(requestData+"request data");

        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...');
        $(this).prop('disabled', true);

        $.ajax({
            url: 'api/issue/save',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            dataType: 'json',
            success: function (data) {
                alert("Issue Added Successfully");
                console.log(data);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert('Error registering the issue');
                $('#addIssue').html('Save Data').prop('disabled', false);
            },
            complete: function () {
                $('#addIssue').html('Save Data').prop('disabled', false);
            }
        });
    });


    // All Issue
    function loadData() {
        $.ajax({
            url: 'api/issue/lists',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                const sortContainer = $('#sort');

                // Loop through the retrieved data and create content for each item
                data.forEach(item => {
                    const issueDiv = `
                    <div class="p-md-3 p-sm-2 mt-3">
                        <div class="card">
                            <div class="card-header border-bottom text-dark">
                                <div class="d-flex justify-content-between align-items-center gap-2" id="getAllIssue">
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="card-title">${item.title}</h6>
                                        <p class="card-title badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary border border-primary rounded-pill">
                                           ${item.pic_id.name}
                                        </p>
                                    </div>
                                    <span class="card-title badge rounded-pill bg-${item.status === 'Success' ? 'success' : 'danger'}">
                                        ${item.status === 'true' ? 'Solved' : 'Unsolved'}
                                    </span>
                                </div>
                                <div class="col d-flex justify-content-between align-items-center issue-time-line d-flex gap-2">
                                    <div class="d-flex align-items-center gap-2">
                                        <p>Posted</p>
                                       <span>${getTimeAgo(item.created_date)}</span>

                                       <p>Modified at</p>
                                        <span>${getTimeAgo(item.updated_date)}</span>
                                    </div>

                                     <button class="btn btn-primary btn-sm" data-bs-target="#issue-details" data-bs-toggle="modal">
                                        See More
                                    </button>
                                </div>
                            <div class="col issue-time-line d-flex gap-2">
                              <p class="btn custom-color rounded-pill">${item.issue_category}</p>
                            </div>


                            </div>
                            <div class="card-body">
                                <div class="code-block">
                                    <p>${item.description}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                `;

                    sortContainer.append(issueDiv);
                });
            },
            error: function (error) {
                console.error('Error fetching data:', error);
                console.error('Error details:', error.responseText); // Log additional error details from the server
            }

        });
    }
    $(document).ready(function() {
        loadData();
    });



    // $(document).ready(function () {
    //     $.ajax({
    //         url: "/api/issue/update/{id}",
    //         type: "PUT",
    //         success: function (data) {
    //             $("#username").text(data.username);
    //         },
    //     });
    // });


</script>


</body>
</html>
