<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout/layout"
      lang="en">
<head>
    <style>

        .ql-toolbar {
            color: white;
        }
        .ql-editor {

        }
    </style>
</head>

<body layout:fragment="content">

<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container-fluid position-relative d-flex p-0">

    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;">

        <div th:replace="fragments/navigation :: navigation-with-search"></div>

        <div class="container-fluid">
            <div class="container-fluid d-md-block pt-2 ps-s pe-2"
                 id="dropdrown-search-bar">
                <div class="d-flex flex-row justify-content-between position-relative">
                    <form class="d-md-flex">
                        <input class="form-control border-0" type="search" placeholder="Search" />
                    </form>
                    <div class="position-absolute end-0 d-flex gap-3">
                        <!-- modal toggle button start -->
                        <button type="button" class="btn btn-light align-self-start" data-bs-toggle="modal" data-bs-target="#add-issue">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <!-- modal toggle button end -->

                        <!-- sortting button -->
                        <i class="bi bi-sort-alpha-down sort-btn text-dark"></i>
                    </div>

                    <!-- Modal -->
                </div>
            </div>


            <!--  Issue list-->
            <div class="row row-cols-1" id="sort">
<!--                issue list will be here-->

            </div>
            <!--  Issue list end-->

        </div>
    </div>
    <!-- Content End -->

<!--    issue detail modal start-->
    <div class="modal fade" id="issueDetailModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Issue Details</h4>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <div class="btn btn-primary" id="issue-edit-btn">Edit</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1 gap-2">
                            <div class="col mb-3">
                               <h5 class="icon-title"><i class="fas fa-wrench text-primary"></i> Corrective Action</h5>
                                <span class="editable text-wrap custom-left-margin" id="corrective_actionValue">
                                    <input type="text" class="form-control form-control-sm btn-space" id="corrective_actionInput" name="corrective_action" />
                                </span>
                            </div>
                            <div class="col mb-3">
                                <h5 class="icon-title"><i class="fas fa-shield-alt text-primary"></i>Preventive Action</h5>
                                <span class="editable text-break custom-left-margin" id="preventive_actionValue">
                                    <input type="text" class="form-control form-control-sm btn-space" id="preventive_actionInput" name="preventive_action" />
                                </span>
                            </div>
                            <div class="col mb-3">
                                <h5 class="icon-title"><i class="fas fa-arrow-right text-primary"></i> Direct Cause</h5>
                                <span class="editable text-break custom-left-margin" id="direct_causeValue">
                                    <input type="text" class="form-control form-control-sm btn-space" id="direct_causeInput" name="direct_cause" />
                                </span>
                            </div>
                            <div class="col mb-3">
                                <h5 class="icon-title"><i class="fas fa-code-branch text-primary"></i>Root Cause</h5>
                                <span class="editable text-break custom-left-margin" id="root_causeValue">
                                    <input type="text" class="form-control form-control-sm btn-space" id="root_causeInput" name="root_cause" />
                                </span>
                            </div>
                            <div class="col mb-3">
                                <h5 class="icon-title"> <i class="fas fa-exclamation-circle text-primary"></i> Impact</h5>
                                <span class="editable text-break custom-left-margin" id="impactValue">
                                    <input type="text" class="form-control form-control-sm btn-space" id="impactInput" name="impact" />
                                </span>
                            </div>
                            <div class="col mb-3">
                                <h5 class="icon-title"><i class="fas fa-map-marker text-primary"></i>Place</h5>
                                <span class="editable text-break custom-left-margin" id="placeValue">
                                    <input type="text" class="form-control form-control-sm btn-space" id="placeInput" name="place" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add issue modal start -->
    <div class="modal fade bd-example-modal-lg" id="add-issue" data-bs-keyboard="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create New Issue</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- TODO :: REDESIGN FORM FOR ADDING DEPARTMENT -->

                    <!-- issue modal start -->
                    <div class="row g-3 "  id="addIssueValidationForm">
                        <div class="col-lg-6">
                            <label for="title" class="col-sm-12 col-form-label" name="title">Issue Title<span
                                    style="color:#e86666"> *</span></label>
                            <input type="text" class="form-control border-task-description" id="title" name="title" placeholder="Title">
                        </div>

                        <div class="col-lg-6">
                            <label for="issue_category" class="col-sm-12 col-form-label" name="issue_category">Issue Category<span
                                    style="color:red"> *</span></label>
                            <select class="form-select border-task-description" name="issue_category" id="issue_category" >
                                <option selected disabled hidden>Select Issue Category</option>
                                <option value="ERROR">Error</option>
                                <option value="BUG">Bug</option>
                                <option value="COMMUNICATION">Communication</option>
                                <option value="TECHNICAL">Technical</option>
                                <option value="BUDGET">Budget</option>
                                <option value="DESIGN">Design</option>
                                <option value="TESTING">Testing</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="user_pic" class="col-sm-12 col-form-label" name="user_pic">Person In Charge <span
                                    style="color:red"> *</span></label>
                            <select class="form-select border-task-description" data-live-search="true" aria-label="Select Clients"  id="user_pic" name="user_pic" >

                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="responsible_party" class="col-sm-12 col-form-label" name="responsible_party">Responsible Party <span
                                    style="color:red"> *</span></label>
                            <select class="form-select border-task-description" aria-label="Select Clients"  id="responsible_party" name="responsible_party" >
                                <option selected disabled>Select Responsible Party</option>
                                <option value="1">Phyo Wai Yan Lin Zaw</option>
                                <option value="2">Zaw Lin Shein</option>
                                <option value="3">Ei Ei Phyo</option>
                                <option value="4">Hnin Aye Lwin</option>
                                <option value="5">Thant Htet Ko</option>
                            </select>
                        </div>

                        <div class="col-lg-12" style="margin-bottom: 80px;">
                            <label for="description" class="col-sm-12 col-form-label" name="name">Description<span
                                    style="color:#e86666"> *</span></label>
                            <div class="quill-editor-bubble form-control" id="description" name="description"></div>
                        </div>

                        <div class="col-lg-6">
                            <label for="direct_cause" class="col-sm-12 col-form-label" name="direct_cause">Direct Cause<span
                                    style="color:#e86666"> *</span></label>

                            <textarea class="form-control border-task-description" id="direct_cause" name="direct_cause"></textarea>
                        </div>

                        <div class="col-lg-6">
                            <label for="root_cause" class="col-sm-12 col-form-label" name="root_cause">Root Cause<span
                                    style="color:#e86666"> *</span></label>
                            <textarea class="form-control border-task-description" id="root_cause"></textarea>
                        </div>

                        <div class="col-lg-6">
                            <label for="place" class="col-sm-12 col-form-label" name="place">Place<span
                                    style="color:#e86666"> *</span></label>
                            <textarea class="form-control border-task-description" id="place" name="place"></textarea>
                        </div>

                        <div class="col-lg-6">
                            <label for="impact" class="col-sm-12 col-form-label" name="impact">Impact<span
                                    style="color:#e86666"> *</span></label>
                            <textarea class="form-control border-task-description" id="impact" name="impact"></textarea>
                        </div>

                        <div class="w-25 m-auto d-flex justify-content-center align-items-center gap-2 mt-2">
                            <button type="button" id="addIssue" class="btn btn-primary" >Save Data</button>
                        </div>

                    </div>
                    <!-- issue modal end -->

                </div>



            </div>

        </div>
    </div>
    <!-- add issue modal end -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
    ><i class="bi bi-arrow-up"></i
    ></a>
</div>


<!--    for select drop-drown-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>




<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/lib/quill/quill.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>


<!--<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>-->

<script>
    // Author: Habib Mhamadi
    // Email: habibmhamadi@gmail.comd
    function getTimeAgo(timestamp) {
        const date = new Date(timestamp);
        const currentDate = new Date();
        const timeDifference = currentDate - date;
        const seconds = Math.floor(timeDifference / 1000);
        const minutes = Math.floor(seconds / 60);
        const hours = Math.floor(minutes / 60);
        const days = Math.floor(hours / 24);

        if (days < 1) {
            if (hours < 1) {
                if (minutes < 1) {
                    return "Just now";
                } else {
                    return `${minutes} minute${minutes > 1 ? 's' : ''} ago`;
                }
            } else {
                return `${hours} hour${hours > 1 ? 's' : ''} ago`;
            }
        } else if (days < 30) {
            return `${days} day${days > 1 ? 's' : ''} ago`;
        } else {
            const months = Math.floor(days / 30);
            return `${months} month${months > 1 ? 's' : ''} ago`;
        }
    }

</script>

<script>
    let quillEditors = document.querySelectorAll(
        ".quill-editor-bubble"
    );

    let toolbaroptions = [
        // Test-style
        ["bold", "italic", "underline"],

        // Bullet points style...
        [{list: "ordered"}, {list: "bullet"}],

        // Sub and super script...
        [{script: "sub"}, {script: "super"}],

        // Indentation...
        [{indent: "+1"}, {indent: "-1"}],

        // Alignment
        [{align: []}],

        // Header for test, e.g., h1, h2...
        [{header: [1, 2, 3, 4, 5, 6, false]}],

        // Adding image, link, video, or formula
        ["link"],

        // Adding code snippet or blockquote
        ["code-block", "blockquote"],
    ];

    // If you want to initialize Quill for a specific element, you can do it like this:
    let specificQuillEditor = document.querySelector("#description"); // Change the selector as needed
    const a = new Quill(specificQuillEditor, {
        modules: {
            toolbar: toolbaroptions,
        },
        theme: "snow",
    });


    $(document).ready(function () {
        // Define data variable to store user data
        let data = [];

        $.get('api/user/list', function (userData) {
            data = userData; // Set the data array with the retrieved user data

            const user_pic = $('#user_pic');
            user_pic.empty();
            user_pic.append($('<option>', {
                value: '',
                text: 'Select a User',
                data: { picUrl: '' }, // Empty URL for placeholder
            }));
            $.each(userData, function (index, pic) {
                user_pic.append($('<option>', {
                    value: pic.id,
                    text: pic.name,
                    data: { picUrl: pic.picUrl },
                    user: pic,
                }));
            });
        });
        //
        // $("#addIssueValidationForm").validate({
        //     rules: {
        //         title: "required",
        //         issue_category: "required",
        //         user_pic: "required",
        //         responsible_party: "required",
        //         description: "required",
        //         direct_cause: "required",
        //         root_cause: "required",
        //         place: "required",
        //         impact: "required",
        //     },
        //     messages: {
        //         title: "Please enter your title",
        //         issue_category: "Please enter your issue category",
        //         user_pic: "Please enter your Person In Charge",
        //         responsible_party: "Please enter your responsible party",
        //         description: "Please enter your description",
        //         direct_cause: "Please enter your direct cause",
        //         root_cause: "Please enter your root cause",
        //         place: "Please enter your place",
        //         impact: "Please enter your impact",
        //     },
        //     errorElement: "div",
        //     errorPlacement: function(error, element) {
        //         error.insertAfter(element);
        //     }
        // });

        $('#addIssue').on('click', function () {
            const title = $('#title').val();
            const description = a.root.innerHTML;
            const place = $('#place').val();
            const impact = $('#impact').val();
            const root_cause = $('#root_cause').val();
            const direct_cause = $('#direct_cause').val();
            const responsible_party = $('#responsible_party').val();
            const issue_category = $('#issue_category').val();
            const selectedUserId = $('#user_pic').val();

            if (
                title === "" ||
                description === "" ||
                place === "" ||
                impact === "" ||
                root_cause === "" ||
                direct_cause === "" ||
                responsible_party === "" ||
                issue_category === "" ||
                selectedUserId === ""
            ) {
                alert('Please fill in all the required fields.');
                return;
            }

            // Find the selected user by their ID
            const selectedUser = data.find(user => user.id == selectedUserId);

            if (!selectedUser) {
                alert('Selected user data not found.');
                return;
            }

            const requestData = {
                title: title,
                description: description,
                place: place,
                impact: impact,
                root_cause: root_cause,
                direct_cause: direct_cause,
                responsible_party: responsible_party,
                issue_category: issue_category,
                pic_id: selectedUser,
            };

            console.log('Request Data:', requestData);

            $.ajax({
                url: 'api/issue/save',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    alert('Issue Created Successfully');
                },
                error: function (xhr, status, error) {
                    console.error('Status:', status);
                    console.error('Error:', error);
                    console.error('Server response:', xhr.responseText);

                    if (xhr.getResponseHeader('Content-Type') === 'application/json') {
                        // Handle JSON response
                        try {
                            const response = JSON.parse(xhr.responseText);
                            console.error('JSON Response:', response);
                        } catch (e) {
                            console.error('JSON parsing error:', e);
                        }
                    } else {
                        // Handle non-JSON response
                        console.error('Non-JSON Response:', xhr.responseText);
                    }

                    alert('Error creating issue: ' + xhr.responseText);
                    console.log('Error creating issue');
                },
            });
        });
    });



    $(document).ready(function() {
        function loadData() {
            $.ajax({
                url: 'api/issue/lists',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    const sortContainer = $('#sort');

                    // Loop through the retrieved data and create content for each item
                    data.forEach(item => {
                        const issueDiv = `
                    <div class="p-md-3 p-sm-2 mt-3">
                        <div class="card">
                            <div class="card-header border-bottom text-dark">
                                <div class="d-flex justify-content-between align-items-center gap-2" id="getAllIssue">
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="card-title">${item.title}</h6>
                                        <p class="card-title badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary border border-primary rounded-pill">
                                         ${item.pic_id?.name}

                                        </p>
                                    </div>
                                    <span class="card-title badge rounded-pill bg-${item.status === 'Success' ? 'success' : 'danger'}">
                                        ${item.status === 'true' ? 'Solved' : 'Unsolved'}
                                    </span>
                                </div>
                                <div class="col d-flex justify-content-between align-items-center issue-time-line d-flex gap-2">
                                    <div class="d-flex align-items-center gap-2">
                                        <p>Posted</p>
                                        <span>${getTimeAgo(item.created_date)}</span>
                                        <p>Modified at</p>
                                        <span>${getTimeAgo(item.updated_date)}</span>
                                    </div>
                                    <button class="btn btn-primary btn-sm see-more-button" data-id="${item.id}" data-bs-target="#issueDetailModal" data-bs-toggle="modal">
                                    See More
                                </button>
                                </div>
                                <div class="col issue-time-line d-flex gap-2">
                                    <p class="btn custom-color rounded-pill">${item.issue_category}</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="code-block">
                                    <p>${item.description}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                        sortContainer.append(issueDiv);
                    });

                    $('.see-more-button').click(function() {
                        var issueId = $(this).data('id');
                        console.log('Clicked button with data-id:', issueId);
                        $.ajax({
                            url: 'api/issue/lists/byId/' + issueId,
                            type: 'GET',
                            dataType: 'json',
                            success: function(data) {
                                console.log('Data received:', data);
                                if (data) {
                                    $('#corrective_actionValue').text(data.corrective_action);
                                    $('#preventive_actionValue').text(data.preventive_action);
                                    $('#direct_causeValue').text(data.direct_cause);
                                    $('#root_causeValue').text(data.root_cause);
                                    $('#impactValue').text(data.impact);
                                    $('#placeValue').text(data.place);
                                    $('#issue-edit-btn').data('issueId', data.id);
                                    $('#issueDetailModal').modal('show');
                                } else {
                                    console.error('No data received for issue ID:', issueId);
                                }
                            },
                            error: function(xhr, status, error) {
                                console.error('AJAX error:', error);
                            }
                        });
                    });
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }
        loadData();
    });

    // for update
    const issueEditBtn = document.getElementById('issue-edit-btn');

    issueEditBtn.addEventListener('click', function (e) {
        if (this.innerText === 'Edit') {
            // Switch to edit mode
            const editableFields = document.querySelectorAll('.editable');
            editableFields.forEach((field, index) => {
                const input = document.createElement('textarea');
                input.type = 'text';
                input.value = field.innerText;
                input.setAttribute('rows', 5);
                input.classList.add('form-control');
                input.classList.add('editable');

                // Set a unique ID for each new input element based on the index
                input.id = `newInput_${index}`;

                field.innerHTML = '';
                field.appendChild(input);
            });

            this.innerText = 'Save';
        } else if (this.innerText === 'Save') {
            // Switch back to view mode
            const issue_id = $('#issue-edit-btn').data('issueId');
            console.log('Issue ID:', issue_id);
            const corrective_action = document.getElementById('newInput_0').value;
            const preventive_action = document.getElementById('newInput_1').value;
            const direct_cause = document.getElementById('newInput_2').value;
            const root_cause = document.getElementById('newInput_3').value;
            const impact = document.getElementById('newInput_4').value;
            const place = document.getElementById('newInput_5').value;
            // const issue_category = document.getElementById('issue_category').value;
            // const user_pic = document.getElementById('user_pic').value;
            // const responsible_party = document.getElementById('responsible_party').value;
            // const description = document.getElementById('description').value;
            // const title = document.getElementById('title').value;



            // Collect the updated values from input fields
            const updatedDetails = {

                corrective_action: corrective_action,
                preventive_action: preventive_action,
                direct_cause: direct_cause,
                root_cause: root_cause,
                impact: impact,
                place: place,
                // issue_category: issue_category,
                // user_pic: user_pic,
                // responsible_party: responsible_party,
                // description: description,
                // title: title,


            };

            console.log("UpdateDetails", updatedDetails);

            $.ajax({
                url: `/api/issue/update/${issue_id}`, // Update the URL to include the issue ID
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(updatedDetails),
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    console.log("Issue Updated Successfully");
                    alert("Issue Updated Successfully");
                },
                error: function (xhr, status, error) {
                    console.error('Status:', status);
                    console.error('Error:', error);
                    console.error('Server response:', xhr.responseText);

                    if (xhr.getResponseHeader('Content-Type') === 'application/json') {
                        // Handle JSON response
                        try {
                            const response = JSON.parse(xhr.responseText);
                            console.error('JSON Response:', response);
                        } catch (e) {
                            console.error('JSON parsing error:', e);
                        }
                    } else {
                        // Handle non-JSON response
                        console.error('Non-JSON Response:', xhr.responseText);
                    }

                    alert("Error updating issue: " + xhr.responseText);
                    console.log("Error updating issue");
                },


                complete: function () {
                    // Optionally, close the modal or perform other actions upon completion
                    $('#issueDetailModal').modal('hide');
                }
            });

            this.innerText = 'Edit';
        }
    });




</script>




</body>
</html>
