<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta
            name="keywords"
            content="project, management, project management, teamplaceholder project management"
    />
    <meta content name="description"/>
    <meta name="author" content="teamplaceholder's project"/>

    <!-- Favicon -->
    <!-- <link href="/images/favicon.ico" rel="icon"> -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
            rel="stylesheet"
    />

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="/font/bootstrap-icons.min.css"/>

    <!-- Libraries Stylesheet -->
    <link
            href="/lib/owlcarousel/assets/owl.carousel.min.css"
            rel="stylesheet"
    />
    <link
            href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
            rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
        <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sign In Start -->
    <div
            class="container-fluid"
            style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                "
    >
        <div
                class="row h-100 align-items-center justify-content-center"
                style="min-height: 100vh"
        >
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div
                        class="bg-light rounded p-4 p-sm-5 my-4 mx-3 border-dark border"
                >

                    <form id="login-form" method="post" novalidate th:action="@{/processLogin}">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                [[${session['SPRING_SECURITY_LAST_EXCEPTION'].message}]]
                            </div>
                        </div>

                        <div
                                class="d-flex align-items-center justify-content-center mb-3"
                        >
                            <h3>Sign In</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    type="email"
                                    class="form-control"
                                    id="emailInput"
                                    placeholder="name@example.com"
                                    required
                                    name="username"
                                    data-type="email"
                            />
                            <label for="emailInput"
                            >Email address</label
                            >
                            <div class="valid-feedback">good</div>
                        </div>
                        <div class="form-floating mb-4">
                            <input
                                    type="password"
                                    class="form-control"
                                    id="floatingPassword"
                                    placeholder="Password"
                                    required
                                    name="password"
                                    data-type="password"
                            />

                            <label for="floatingPassword"
                            >Password</label
                            >
                        </div>
                        <div
                                class="d-flex align-items-center justify-content-between mb-4"
                        >
                            <div class="form-check">
                                <input
                                        type="checkbox"
                                        class="form-check-input"
                                        id="exampleCheck1"
                                        name="remember-me"
                                />
                                <label
                                        class="form-check-label"
                                        for="exampleCheck1"
                                >Remember me</label
                                >
                            </div>
                            <a th:href="@{/password-reset}"
                               class="text-decoration-none"
                            >Forgot Password</a
                            >
                        </div>
                        <button
                                type="submit"
                                class="btn btn-primary py-3 w-100 mb-4"
                                id="login-btn"
                        >
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>
</body>
</html>
