<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Reset Password Page</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="keywords" content="project, management, project management, teamplaceholder project management" />
  <meta content name="description" />
  <meta name="author" content="teamplaceholder's project" />

  <!-- Favicon -->
  <!-- <link href="/images/favicon.ico" rel="icon"> -->

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <!-- bootstrap icons -->
  <link rel="stylesheet" href="/font/bootstrap-icons.min.css" />

  <!-- Libraries Stylesheet -->
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
  <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

  <!-- Sign In Start -->
  <div class="container-fluid" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="alert alert-primary border border-danger d-flex align-items-center d-none" role="alert">
        </div>
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
          <form action="#" method="get" id="login-form">
            <div class="d-flex align-items-center justify-content-center mb-3">
              <h3>Password Reset</h3>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="emailInput"
                     placeholder="name@example.com" name="email" data-type="email" required />
              <label for="emailInput">Email address</label>
            </div>

            <!-- OTP Field -->
            <div id="otp-container" class="d-none">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="otp" placeholder="OTP" name="otp" />
                <label for="otp">OTP</label>
              </div>
            </div>


            <!-- New Password Field -->
            <div id="new-password-container d-none">
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="new-password" placeholder="New Password" name="newPassword" />
                <label for="new-password">New Password</label>
              </div>
            </div>

            <button type="button" class="btn btn-primary py-3 w-100 mb-4" id="password-reset">
              <span class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
              Request OTP
            </button>
            <button type="button" class="btn btn-primary py-3 w-100 mb-4 d-none" id="confirm-otp">
              <span class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
              Confirm OTP
            </button>
            <button type="button" class="btn btn-primary py-3 w-100 mb-4 d-none" id="reset-password">
              <span class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
              Reset Password
            </button>



          </form>
          <p class="text-center mb-0">
            Remember your password?
            <a th:href="@{/login}">Log in here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign In End -->
</div>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>
</body>
<script>

  $(document).ready(function(){

    function showError(message) {
      $(".alert").removeClass("d-none").addClass("d-flex").html(message);
    }
    $("#password-reset").click(function(){
      // Show the loading spinner on the button
      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...');
      $(this).prop('disabled', true);
      $.ajax({
        url: '/api/user/send-otp/'+$("#emailInput").val(),
        type: 'GET',
        success: function(data) {
          $("#password-reset").classList.add("d-none");
            $("#confirm-otp").classList.remove("d-none");

            $("#otp-container").classList.remove("d-none");
          $("#emailInput").prop('disabled', true);
        },
        error: function(error) {
            showError(error.responseJSON.message);
        },
        complete  : function(){
            $("#password-reset").html("Request OTP").prop('disabled', false);
        }
      });
    });

    $("#confirm-otp").click(function(){
      // Show the loading spinner on the button
      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...');
      $(this).prop('disabled', true);
      $.ajax({
        url: '/api/user/confirm-otp/'+$("#emailInput").val()+"/"+$("#otp").val(),
        type: 'POST',
        data: {
          otp: $("#otp").val()
        },
        success: function(data) {
          $("#confirm-otp").hide();
            $("#reset-password").show();
            $("#new-password-container").show();
          $("#emailInput").prop('disabled', true);
        },
        error: function(error) {
            showError(error.responseJSON.message);
        },
        complete  : function(){
            $("#confirm-otp").html("Confirm OTP").prop('disabled', false);
        }
      });
    });

    $("#confirm-password").click(function(){
      // Show the loading spinner on the button
      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...');
      $(this).prop('disabled', true);
      console.log($("#emailInput").val());
      $.ajax({
        url: '/api/user/reset-password/'+$("#emailInput").val()+"/"+$("#new-password").val(),
        type: 'POST',
        data: {
          newPassword: $("#new-password").val()
        },
        success: function(data) {
            $("#confirm-password").hide();
                $("#reset-password").show();
                $("#new-password-container").show();
            $("#emailInput").prop('disabled', true);
        },
        error: function(error) {
            showError(error.responseJSON.message);
        },
        complete  : function(){
          window.location.href = "/login";
        }
      });
    });
  });
</script>

</html>