<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body layout:fragment="content">

<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Content Start -->
    <div class="content" style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                ">
        <!-- Navbar Start -->
        <div th:replace="fragments/navigation :: navigation-without-search"></div>
        <!-- Navbar End -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-4" style="margin-top: 5px">
                    <h5>Profile</h5>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row row-cols-1">
                <div class="col mb-2">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="" alt="Profile" class="rounded-circle" style="height: 100px; width: 100px" id="profile-image"/>
                            <h4 style="margin-top: 10px" id="name" class="display-4"></h4>
                            <h5 id="role">Web Designer</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Bordered Tabs -->

                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" >
                                        Overview
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                        Edit Profile
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" >
                                        Change Password
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active profile-overview" id="profile-overview" >
                                    <h5 class="card-title" style="margin-top: 20px">Profile Details</h5>

                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-lg-3 col col-md-4 label">Email</div>
                                        <div class="col-lg-9 col col-md-8" id="email">

                                        </div>
                                    </div>
                                    <div sec:authorize="hasAnyRole('PROJECT_MANAGER','DEPARTMENT_HEAD','EMPLOYEE','FOC','CONTRACT')">
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-lg-3 col col-md-4 label">Department</div>
                                        <div class="col-lg-9 col col-md-8" id="department"></div>
                                    </div>
                                    </div>
                                    <div sec:authorize="hasAnyRole('PROJECT_MANAGER','DEPARTMENT_HEAD','EMPLOYEE','FOC','CONTRACT')">
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-lg-3 col col-md-4 label"> Project Count</div>
                                            <div class="col-lg-9 col col-md-8" id="projectCount"></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <div class="alert alert-danger alert-dismissible" id="errorAlert" style="display: none;">
                                        <strong>Error : </strong> <span id="errorText"></span>
                                        <button type="button" class="btn-close btn-dark" aria-label="close" style="background: transparent; position: absolute; top: 0; right: 0;">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="alert alert-success alert-dismissible" id="successAlert" style="display: none;">
                                        <strong>Success : </strong> <span id="successText"></span>
                                        <button type="button" class="btn-close btn-dark" aria-label="close" style="background: transparent; position: absolute; top: 0; right: 0;">
                                            &times;
                                        </button>
                                    </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label">Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="name" type="text" class="form-control" id="nameInput" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="email" type="email" class="form-control" id="emailInput" disabled />
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button class="btn btn-primary" style="width: 10%" id="change-username-btn">Edit</button>
                                            </div>
                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->

                                    <div class="alert alert-danger alert-dismissible" id="error-Alert" style="display: none;">
                                        <strong>Error : </strong> <span id="error-Text"></span>
                                        <button type="button" class="btn-close btn-dark" aria-label="close" style="background: transparent; position: absolute; top: 0; right: 0;">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="alert alert-success alert-dismissible" id="success-Alert" style="display: none;">
                                        <strong>Success : </strong> <span id="success-Text"></span>
                                        <button type="button" class="btn-close btn-dark" aria-label="close" style="background: transparent; position: absolute; top: 0; right: 0;">
                                            &times;
                                        </button>
                                    </div>



                                    <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="input-group">
                                                    <input name="password" type="password" class="form-control" id="currentPassword" data-type="password" />
                                                    <div class="input-group-append border-1 border">
                                                        <button class="btn btn-light toggle-password" type="button" pw-target="currentPassword">
                                                            <i class="fas fa-eye passwordIcon"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="input-group">
                                                    <input name="password" type="password" class="form-control" id="newPassword" data-type="password" />
                                                    <div class="input-group-append border-1 border">
                                                        <button class="btn btn-light toggle-password" type="button" pw-target="newPassword">
                                                            <i class="fas fa-eye passwordIcon"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="confirmNewPassword" class="col-md-4 col-lg-3 col-form-label">Confirm New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="input-group">
                                                    <input name="password" type="password" class="form-control" id="confirmNewPassword" data-type="password" />
                                                    <div class="input-group-append border-1 border">
                                                        <button class="btn btn-light toggle-password" type="button" pw-target="confirmNewPassword">
                                                            <i class="fas fa-eye passwordIcon"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" id="changePasswordBtn">Change Password</button>
                                        </div>
                                    <!-- End Change Password Form -->
                                    <!-- Add a full-page loading overlay -->
                                    <div id="loading-overlay" class="d-none position-fixed w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center bg-light opacity-75">
                                        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Bordered Tabs -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
</div>

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/quill/quill.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

<link href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css" rel="stylesheet">

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script>
    $(document).ready(function () {
        setupLogoutConfirmation();
    });

    $(document).ready(

        function () {

            //password eye toggle
            $(".toggle-password").on("click", function () {
                const targetInputId = $(this).attr("pw-target");
                const targetInput = $("#" + targetInputId);
                const passwordIcon = $(this).find(".passwordIcon");

                if (targetInput.attr("data-type") === "password") {
                    targetInput.attr("type", "text");
                    targetInput.attr("data-type", "text");
                    passwordIcon.removeClass("fa-eye");
                    passwordIcon.addClass("fa-eye-slash");
                } else {
                    targetInput.attr("type", "password");
                    targetInput.attr("data-type", "password");
                    passwordIcon.removeClass("fa-eye-slash");
                    passwordIcon.addClass("fa-eye");
                }
            });

            // Change password button AJAX
            $("#changePasswordBtn").on("click", function (e) {
                e.preventDefault();
                const currentPassword = $("#currentPassword").val();
                const newPassword = $("#newPassword").val();
                const confirmNewPassword = $("#confirmNewPassword").val();

                if (currentPassword === "" || newPassword === "" || confirmNewPassword === "") {
                    showerror("Please fill in all fields");
                    return;
                }

                if (newPassword !== confirmNewPassword) {
                    showerror("New password and confirm new password do not match");
                    return;
                }

                // Show a confirmation dialog using Swal
                Swal.fire({
                    title: "Are you sure want to change your password?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirmed, proceed with the AJAX request
                        //$('#loading-overlay').removeClass('d-none');


                        $.ajax({
                            url: "/api/user/change-password",
                            type: "PUT",
                            data: {
                                oldPassword: currentPassword,
                                newPassword: newPassword
                            },

                            success: function (data) {
                                // Hide the full-page loading overlay on success
                                $('#loading-overlay').addClass('d-none');

                                showsuccess("Password changed successfully");
                            },
                            error: function (error) {
                                console.log(error);
                                // Hide the full-page loading overlay on error
                                $('#loading-overlay').addClass('d-none');

                                showerror(error.responseText);
                            },
                            complete: function () {
                                // Hide the full-page loading overlay on complete
                                $('#loading-overlay').addClass('d-none');

                                // Clear all password fields
                                $("#currentPassword").val("");
                                $("#newPassword").val("");
                                $("#confirmNewPassword").val("");

                                // Reset all password icons
                                $(".passwordIcon").removeClass("fa-eye-slash");
                                $(".passwordIcon").addClass("fa-eye");

                                // Reset all password input types
                                $("[data-type='text']").attr("type", "password");
                                $("[data-type='text']").attr("data-type", "password");

                                // Reload page or perform other actions
                                getUserProfileInfo();
                            }
                        });
                    }
                });
            });




            //Change User Name AJAX
            $("#change-username-btn").on("click", function (e) {
                e.preventDefault();
                const usernameInput = $("#nameInput").val();
                const email = $("#emailInput").val();

                if (usernameInput === "") {
                    showError("Please fill in all fields");
                    return;
                }

                // Show a confirmation dialog using Swal
                Swal.fire({
                    title: "Are you sure want to edit?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then((result) => {
                    if (result.isConfirmed) {


                        $.ajax({
                            url: "/api/user/change-username",
                            type: "POST",
                            data: JSON.stringify({
                                name: usernameInput,
                                email: email
                            }),
                            contentType: 'application/json',
                            success: function (data) {
                                console.log(data);
                                console.log("New Name : ", usernameInput)
                                showSuccess("Username changed successfully");
                                $('#navbar-username-without-search').text(usernameInput);
                                // Re-enable button
                                $("#change-username-btn").html("Edit").attr("disabled", false);
                            },
                            error: function (error) {
                                console.log(error);
                                showError(error.responseText);
                                // Re-enable button
                                $("#change-username-btn").html("Edit").attr("disabled", false);
                            },
                            complete: function () {
                                // Clear all input fields
                                $("#nameInput").val("");
                                $("#emailInput").val(""); // Clear email field too if needed

                                // Reload page or perform other actions
                                getUserProfileInfo();
                            }
                        });
                    }
                });
            });


            function showError(message) {
                $("#errorText").text(message);
                $("#errorAlert").show();

                setTimeout(function () {
                    $("#errorAlert").hide();
                }, 3000);

                //close alert box
                $(".btn-close").on("click", function () {
                    $("#errorAlert").hide();
                });
            }

            function showSuccess(message) {
                $("#successText").text(message);
                $("#successAlert").show();

                setTimeout(function () {
                    $("#successAlert").hide();
                }, 3000);

                //close alert box
                $(".btn-close").on("click", function () {
                    $("#successAlert").hide();
                });
            }

            function showerror(message) {
                $("#error-Text").text(message);
                $("#error-Alert").show();

                setTimeout(function () {
                    $("#error-Alert").hide();
                }, 3000);

                //close alert box
                $(".btn-close").on("click", function () {
                    $("#error-Alert").hide();
                });
            }

            function showsuccess(message) {
                $("#success-Text").text(message);
                $("#success-Alert").show();

                setTimeout(function () {
                    $("#success-Alert").hide();
                }, 3000);

                //close alert box
                $(".btn-close").on("click", function () {
                    $("#success-Alert").hide();
                });
            }


            function getUserProfileInfo() {
                $.ajax({
                    url: "/api/user/profile",
                    type: "GET",
                    success: function (data) {
                        console.log(data)
                        updateUserInfo(data)
                        updateEditInput(data)
                    },
                    error: function (error) {
                        console.log(error)
                    }

                })
            }

            function updateUserInfo(data) {
                $("#name").html(data.name.toUpperCase())
                $("#role").html(data.role)
        //check data.role and set image accordingly
                if(data.role === "PMO" || data.role === "SDQC"){
                    $('#profile-image').attr("src","/images/avatars/pmo_avatar.svg");
                }else if(data.role === "DEPARTMENT_HEAD"){
                    $('#profile-image').attr("src","/images/avatars/departmenthead_avatar.svg");
                }else if (data.role === "PROJECT_MANAGER"){
                    $('#profile-image').attr("src","/images/avatars/pm_avatar.svg");
                }else{
                    $('#profile-image').attr("src","/images/avatars/employee_avatar.svg");
                }

                $(".profile-overview .col-lg-9.col, .profile-overview .col-md-8").each(function () {
                    if ($(this).attr("id") === "email") {
                        $(this).html(data.email)
                    } else if ($(this).attr("id") === "department") {
                        $(this).html(data.department.name)
                    }
                    // Make an AJAX request to fetch project count data
                    else if ($(this).attr("id") === "projectCount") {
                        $.ajax({
                            url: "/api/project/count/user/" + data.id,
                            type: "GET",
                            success: function (projectCount) {
                                $(this).html(projectCount)
                            }.bind(this),
                            error: function (error) {
                                console.log(error)
                            }
                        })
                    }
                })

            }

            function updateEditInput(data) {
                $("#nameInput").val(data.name)
                $("#emailInput").val(data.email)
                $("#roleInput").val(data.role)
                $("#departmentInput").val(data.department)
            }



            getUserProfileInfo()
        }

    )


</script>
<script src="/js/notification.js" type="module"></script>
</body>

</html>