<!--

    TODO :: GANTT CHART FOR PROJECT

    TODO :: ADD DESIGN FOR TASK'S DETAILS WHEN CLICK ON TASK

    TODO :: SHOULD BE ABLE TO UPDATE IN DETAIL MODAL

    TODO :: REDESIGN TASK ADD FORM

    TODO :: SHOULD BE ABLE TO ADD MEMBER IN ADD TASK ??

 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>DASHMIN - Bootstrap Admin Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta
          name="keywords"
          content="project, management, project management, teamplaceholder project management"
  />
  <meta content name="description" />
  <meta name="author" content="teamplaceholder's project" />

  <!-- Favicon -->
  <!-- <link href="/images/favicon.ico" rel="icon"> -->

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
          rel="stylesheet"
  />

  <!-- bootstrap icons -->
  <link rel="stylesheet" href="/font/bootstrap-icons.min.css" />

  <!-- Libraries Stylesheet -->
  <link
          href="/lib/owlcarousel/assets/owl.carousel.min.css"
          rel="stylesheet"
  />
  <link
          href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          rel="stylesheet"
  />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
  <!-- Spinner Start -->
  <div
          id="spinner"
          class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div
            class="spinner-border text-primary"
            style="width: 3rem; height: 3rem"
            role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Sidebar Start -->
  <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
      <a href="dashboard.html" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary">
          <i class="fa fa-hashtag me-2"></i>DASHMIN
        </h3>
      </a>
      <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
          <img
                  class="rounded-circle"
                  src="/images/batface.png"
                  alt
                  style="width: 40px; height: 40px"
          />
          <div
                  class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
          ></div>
        </div>
        <div class="ms-3">
          <h6 class="mb-0">Jhon Doe</h6>
          <span>Admin</span>
        </div>
      </div>
      <div class="navbar-nav w-100">
        <!-- TODO:: GOT TO MAIN/DASHBOARD -->
        <a
                href="dashboard.html"
                class="nav-item nav-link active"
        ><i class="bi bi-clipboard-data-fill"></i
        >Dashboard</a
        >
        <!-- TODO :: GOT TO DEPARTMENT LIST -->
        <a
                href="department.html"
                class="nav-item nav-link active"
        ><i class="fa-solid fa-building"></i>Department</a
        >
        <!-- TODO :: FIRST PROJECTS LIST DESIGN ( ?? USE ??) -->
        <a href="projects.html" class="nav-item nav-link active"
        ><i class="bi bi-collection-fill"></i>All
          Projects</a
        >
        <!-- TODO :: SECOND PROJECTS LIST DESIGN ( ?? USE ?? ) -->
        <a
                href="2projects.html"
                class="nav-item nav-link active"
        ><i class="bi bi-collection-fill"></i>second All
          Projects</a
        >
      </div>
    </nav>
  </div>
  <!-- Sidebar End -->

  <!-- Content Start -->
  <div
          class="content"
          style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                "
  >
    <!-- Navbar Start -->
    <nav
            class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0"
    >
      <a
              href="index.html"
              class="navbar-brand d-flex d-lg-none me-4"
      >
        <h2 class="text-primary mb-0">
          <i class="fa fa-hashtag"></i>
        </h2>
      </a>
      <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
      </a>
      <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
          <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
          >
            <i class="fa fa-envelope me-lg-2"></i>
            <span class="d-none d-lg-inline-flex"
            >Message</span
            >
          </a>
          <div
                  class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0"
          >
            <a href="#" class="dropdown-item">
              <div class="d-flex align-items-center">
                <img
                        class="rounded-circle"
                        src="/images/batface.png"
                        alt
                        style="width: 40px; height: 40px"
                />
                <div class="ms-2">
                  <h6 class="fw-normal mb-0">
                    Jhon send you a message
                  </h6>
                  <small>15 minutes ago</small>
                </div>
              </div>
            </a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item text-center"
            >See all message</a
            >
          </div>
        </div>
        <div class="nav-item dropdown">
          <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
          >
            <i class="fa fa-bell me-lg-2"></i>
            <span class="d-none d-lg-inline-flex"
            >Notificatin</span
            >
          </a>
          <div
                  class="dropdown-menu dropdown-menu-end bg-light border-dark rounded-0 border-top-0 rounded-bottom m-0"
          >
            <a href="#" class="dropdown-item">
              <h6 class="fw-normal mb-0">
                Profile updated
              </h6>
              <small>15 minutes ago</small>
            </a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item">
              <h6 class="fw-normal mb-0">
                New user added
              </h6>
              <small>15 minutes ago</small>
            </a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item">
              <h6 class="fw-normal mb-0">
                Password changed
              </h6>
              <small>15 minutes ago</small>
            </a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
          >
            <img
                    class="rounded-circle"
                    src="/images/batface.png"
                    alt
                    style="width: 40px; height: 40px"
            />
            <span class="d-none d-lg-inline-flex"
            >John Doe</span
            >
          </a>
          <div
                  class="dropdown-menu dropdown-menu-end bg-light border-dark rounded-bottom m-0"
          >
            <a href="#" class="dropdown-item">My Profile</a>
            <!-- <a href="#" class="dropdown-item">Settings</a> -->
            <a href="#" class="dropdown-item d-flex gap-1"
            ><i
                    class="bi bi-box-arrow-right text-danger"
            ></i
            >Log Out</a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <div class="container-fluid mt-2">
      <!-- nav for task and gantt chart start -->
      <nav>
        <ul
                class="nav nav-tabs rounded-top"
                id="myTab"
                role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
                    class="nav-link active border-primary border border-bottom-0"
                    id="tasks-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#task"
                    type="button"
                    role="tab"
                    aria-controls="task"
                    aria-selected="false"
            >
              Tasks
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
                    class="nav-link border-primary border border-bottom-0 rounded-top"
                    id="gantt-chart-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#gantt-chart"
                    type="button"
                    role="tab"
                    aria-controls="gantt-chart"
                    aria-selected="false"
            >
              Gantt chart
            </button>
          </li>
        </ul>
      </nav>
      <!-- nav for task and gantt chart end -->
      <div
              class="tab-content"
              style="
                            height: 670px;
                        "
              id="myTabContent"
      >

        <div
                class="tab-pane fade show active"
                id="task"
                role="tabpanel"
                aria-labelledby="tasks-tab"
        >
          <div class="board">
            <!-- add task form start -->
            <!-- TODO :: REDESIGN ADD TASK FORM -->
            <form id="todo-form">
              <input
                      type="text"
                      placeholder="New TODO..."
                      id="todo-input"
              />
              <button type="submit" class="btn btn-primary">Add +</button>
            </form>
            <!-- add task form end -->

            <div class="lanes">
              <!-- TODO :: SHOW TASK'S DETAILS WHEN CLICK ON TASK -->
              <!-- todo start -->
              <div class="lane">
                <h3
                        class="heading bg-primary text-white rounded-top p-2"
                >
                  TODO
                </h3>
                <div class="swim-lane" id="todo-lane">
                  <p
                          class="task border-primary border-2 border"
                          draggable="true"
                          data-bs-toggle="modal"
                          data-bs-target="#task-details"
                  >
                    Get groceries
                  </p>
                  <p
                          class="task border-primary border-2 border"
                          draggable="true"
                          data-bs-toggle="modal"
                          data-bs-target="#task-details"
                  >
                    Feed the dogs
                  </p>
                  <p
                          class="task border-primary border-2 border"
                          draggable="true"
                          data-bs-toggle="modal"
                          data-bs-target="#task-details"
                  >
                    Mow the lawn
                  </p>
                </div>
                <div
                        class="bg-primary rounded-bottom"
                        style="height: 10px"
                ></div>
              </div>
              <!-- todo end -->
              <!-- doing start -->
              <div class="lane">
                <h3
                        class="heading bg-info text-white rounded-top p-2"
                >
                  DOING
                </h3>
                <div class="swim-lane" id="doing-lane">
                  <p
                          class="task border-dark border-2 border"
                          draggable="true"
                          data-bs-toggle="modal"
                          data-bs-target="#task-details"
                  >
                    Binge 80 hours of Game of
                    Thrones
                  </p>
                </div>
                <div
                        class="bg-info rounded-bottom"
                        style="height: 10px"
                ></div>
              </div>
              <!-- doing end -->
              <!-- done start -->
              <div class="lane">
                <h3
                        class="heading bg-success text-white rounded-top p-2"
                >
                  DONE
                </h3>

                <div class="swim-lane" id="done-lane">
                  <p
                          class="task border-success border-2 border"
                          draggable="true"
                          data-bs-toggle="modal"
                          data-bs-target="#task-details"
                  >
                    Watch video of a man raising a
                    grocery store lobster as a pet
                  </p>
                </div>
                <div
                        class="bg-success rounded-bottom"
                        style="height: 10px"
                ></div>
              </div>
              <!-- done end -->
            </div>
          </div>
        </div>
        <!-- gantt chart start -->
        <div
                class="tab-pane fade"
                id="gantt-chart"
                role="tabpanel"
                aria-labelledby="gantt-chart-tab"
        >
          <!-- TODO :: PUT GANTT CHART HERE -->
          ...
        </div>
        <!-- gantt chart end -->
      </div>
    </div>
  </div>
  <!-- Content End -->
</div>

<!-- task's details start -->
<div class="modal fade" id="task-details" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task Details</h5>
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
<!-- task's details end -->

<!-- fontawesome -->
<script src="/js/fontawesome.js"></script>

<!-- jquery -->
<script src="/js/jquery.3.7.1.min.js"></script>

<!-- datable table -->
<script src="/js/databales.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- javascript libraries -->
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/forprogresscircleiguess.js"></script>

<!-- sort (department, project), form validation and search bar behavior are all here -->
<script src="/js/custome.js"></script>

<!-- drag and drop -->
<script>
  const form = document.getElementById("todo-form");
  const input = document.getElementById("todo-input");
  const todoLane = document.getElementById("todo-lane");
  const draggables = document.querySelectorAll(".task");
  const droppables = document.querySelectorAll(".swim-lane");
  const modal = document.getElementById("task-details");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const value = input.value;

    if (!value) return;

    const newTask = document.createElement("p");
    newTask.classList.add(
            "task",
            "border",
            "border-primary",
            "border-2"
    );
    newTask.setAttribute("draggable", "true");
    newTask.setAttribute("data-bs-toggle", "modal");
    newTask.setAttribute("data-bs-target", "#task-details");
    newTask.innerText = value;

    newTask.addEventListener("dragstart", (e) => {
      newTask.classList.add("is-dragging");
      var crt = e.target.cloneNode(true);
      crt.style.backgroundColor = "black";
      crt.style.color = "white";
      crt.style.width =
              e.target.getBoundingClientRect().width + "px";
      document.body.appendChild(crt);
      e.dataTransfer.setDragImage(crt, 0, 0);
    });

    newTask.addEventListener("dragend", () => {
      newTask.classList.remove("is-dragging");
      console.log(newTask);
    });

    newTask.addEventListener("click", (e) => {
      modal.querySelector(".modal-title").innerText =
              newTask.innerText;
    });

    todoLane.appendChild(newTask);

    input.value = "";
  });

  draggables.forEach((task) => {
    task.addEventListener("dragstart", () => {
      task.classList.add("is-dragging");
    });
    task.addEventListener("dragend", () => {
      task.classList.remove("is-dragging");

      console.log("drop");
      console.log(
              task.parentNode.previousElementSibling.innerText
      );
    });
  });

  draggables.forEach((task) => {
    task.addEventListener("click", () => {
      console.log(modal.querySelector(".modal-title").innerText);
      modal.querySelector(".modal-title").innerText =
              task.innerText;
    });
  });

  droppables.forEach((zone) => {
    zone.addEventListener("dragover", (e) => {
      e.preventDefault();

      const bottomTask = insertAboveTask(zone, e.clientY);
      const curTask = document.querySelector(".is-dragging");

      const curZone = zone.getAttribute("id");

      switch (curZone) {
        case "todo-lane":
          curTask.classList.add("border-primary");
          curTask.classList.remove(
                  "border-dark",
                  "border-success"
          );
          break;
        case "doing-lane":
          curTask.classList.add("border-dark");
          curTask.classList.remove(
                  "border-primary",
                  "border-success"
          );
          break;
        case "done-lane":
          curTask.classList.add("border-success");
          curTask.classList.remove(
                  "border-primary",
                  "border-dark"
          );
          break;
      }

      if (!bottomTask) {
        zone.appendChild(curTask);
      } else {
        zone.insertBefore(curTask, bottomTask);
      }
    });
  });

  const insertAboveTask = (zone, mouseY) => {
    const els = zone.querySelectorAll(".task:not(.is-dragging)");

    let closestTask = null;
    let closestOffset = Number.NEGATIVE_INFINITY;

    els.forEach((task) => {
      const { top } = task.getBoundingClientRect();

      const offset = mouseY - top;

      if (offset < 0 && offset > closestOffset) {
        closestOffset = offset;
        closestTask = task;
      }
    });

    return closestTask;
  };
</script>
</body>
</html>
