<!--

    TODO :: GANTT CHART FOR PROJECT

    TODO :: ADD DESIGN FOR TASK'S DETAILS WHEN CLICK ON TASK

    TODO :: SHOULD BE ABLE TO UPDATE IN DETAIL MODAL

    TODO :: REDESIGN TASK ADD FORM

    TODO :: SHOULD BE ABLE TO ADD MEMBER IN ADD TASK ??
vs
 -->
<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/layout"
>
<head></head>

<body layout:fragment="content">

    <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    <!-- Spinner End -->

<div th:replace="fragments/sidebar :: sidebar"></div>
<div
        class="container-fluid position-relative d-flex p-0"

>
    <!-- Content Start -->
    <div
            class="content"
            style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                "
    >
        <div th:replace="fragments/navigation :: navigation-without-search"></div>

        <div class="container-fluid mt-2">
            <!-- nav for task and gantt chart start -->
            <nav>
                <ul
                        class="nav nav-tabs rounded-top"
                        id="myTab"
                        role="tablist"
                >
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link active border-primary border border-bottom-0"
                                id="tasks-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#task"
                                type="button"
                                role="tab"
                                aria-controls="task"
                                aria-selected="false"
                        >
                            Tasks
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link border-primary border border-bottom-0 rounded-top"
                                id="gantt-chart-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#gantt-chart"
                                type="button"
                                role="tab"
                                aria-controls="gantt-chart"
                                aria-selected="false"
                        >
                            Gantt chart
                        </button>
                    </li>
                    <div
                            class="d-flex justify-content-end trash-can-container dummy-trash"
                    >
                                <span class="trash align-self-end dummy-trash">
                                    <span class="dummy-trash"></span>
                                </span>
                    </div>
                </ul>
            </nav>
            <!-- nav for task and gantt chart end -->
            <div
                    class="tab-content"
                    style="height: 670px"
                    id="myTabContent"
            >
                <div
                        class="tab-pane fade show active"
                        id="task"
                        role="tabpanel"
                        aria-labelledby="tasks-tab"
                >
                    <div class="board">
                        <!-- add task form start -->
                        <!-- TODO :: REDESIGN ADD TASK FORM -->
                        <!-- add task form end -->

                        <div class="lanes" id="sort-container">
                            <!-- TODO :: SHOW TASK'S DETAILS WHEN CLICK ON TASK -->
                            <!-- todo start -->
                            <div class="lane">
                                <h3
                                        class="heading bg-primary text-white rounded-top p-2 d-flex justify-content-between align-items-center"
                                >
                                    TODO
                                    <button
                                            type="submit"
                                            class="btn btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#add-task"
                                    >
                                        <i
                                                class="bi bi-plus-circle"
                                        ></i>
                                    </button>
                                </h3>
                                <div
                                        class="swim-lane p-3"
                                        id="todo-lane"
                                >
                                    <div
                                            class="task py-1 row rounded-2 border-primary border-2 border"
                                            draggable="true"
                                            data-bs-toggle="modal"
                                            data-bs-target="#task-details"
                                    >
                                        <div
                                                class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break"
                                        >
                                            i have no idea what am
                                            iawercawecrawercawecrawecraw
                                            even doingawecrawecrawe
                                        </div>
                                        <div
                                                class="col d-flex justify-content-between align-items-center"
                                        >
                                            <img
                                                    src="https://source.unsplash.com/random/200x200?sig=1"
                                                    class="img-fluid rounded-circle"
                                                    alt
                                                    style="width: 30px"
                                            />
                                        </div>
                                    </div>
                                    <div
                                            class="task py-1 row rounded-2 border-primary border-2 border"
                                            draggable="true"
                                            data-bs-toggle="modal"
                                            data-bs-target="#task-details"
                                    >
                                        <div
                                                class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break"
                                        >
                                            i have no idea what am
                                            iawercawecrawercawecrawecraw
                                            even doingawecrawecrawe
                                        </div>
                                        <div
                                                class="col d-flex justify-content-between align-items-center"
                                        >
                                            <img
                                                    src="https://source.unsplash.com/random/200x200?sig=1"
                                                    class="img-fluid rounded-circle"
                                                    alt
                                                    style="width: 30px"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="bg-primary rounded-bottom"
                                        style="height: 10px"
                                ></div>
                            </div>
                            <!-- todo end -->
                            <!-- doing start -->
                            <div class="lane">
                                <h3
                                        class="heading bg-info text-white rounded-top p-2"
                                >
                                    DOING
                                </h3>
                                <div
                                        class="swim-lane p-3"
                                        id="doing-lane"
                                >
                                    <div
                                            class="task py-1 row rounded-2 border-dark border-2 border"
                                            draggable="true"
                                            data-bs-toggle="modal"
                                            data-bs-target="#task-details"
                                    >
                                        <div
                                                class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break"
                                        >
                                            i like walking
                                        </div>
                                        <div
                                                class="col d-flex justify-content-between align-items-center"
                                        >
                                            <img
                                                    src="https://source.unsplash.com/random/200x200?sig=1"
                                                    class="img-fluid rounded-circle"
                                                    alt
                                                    style="width: 30px"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="bg-info rounded-bottom"
                                        style="height: 10px"
                                ></div>
                            </div>
                            <!-- doing end -->
                            <!-- done start -->
                            <div class="lane">
                                <h3
                                        class="heading bg-success text-white rounded-top p-2"
                                >
                                    DONE
                                </h3>
                                <div
                                        class="swim-lane p-3"
                                        id="done-lane"
                                ></div>
                                <div
                                        class="bg-success rounded-bottom"
                                        style="height: 10px"
                                ></div>
                            </div>
                            <!-- done end -->
                        </div>
                    </div>
                </div>
                <!-- gantt chart start -->
                <div
                        class="tab-pane fade"
                        id="gantt-chart"
                        role="tabpanel"
                        aria-labelledby="gantt-chart-tab"
                >
                    <!-- TODO :: PUT GANTT CHART HERE -->
                    ...
                </div>
                <!-- gantt chart end -->
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- task's details start -->
    <div class="modal fade" id="task-details" data-bs-keyboard="true">
        <div class="modal-dialog modal-dialog-centered modal-lg ">
            <div class="modal-content task-content ">
                <div class="modal-header">
                    <h2 class="card-title" style="text-align:center">Task Details</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="row g-5" action="">

                        <div class="col-lg-12 ">
                            <span><i class="fa fa-tasks"></i></span>
                            <label class="editable-label" name="task" onclick="editTitle()"> Testing
                                Write</label>
                            <input id="task" name="task" type="text" class="form-control border-task editable-input"
                                   dir="auto" data-autosize="true"
                                   style="overflow: hidden; overflow-wrap: break-word; height: 36.8px; display: none;"
                                   onblur="updateTitle(this)">
                        </div>

                        <div class="col-lg-12">
                        <span class="text-align-center">
                            <i class="fa-solid fa-users"></i>
                        </span>
                            <select id="member" name="member" class="form-control selectpicker editable-input"
                                    data-live-search="true" multiple dir="auto" data-width="50%" data-autosize="true"
                                    style="overflow: hidden; overflow-wrap: break-word; height: 36.8px; display: none;"
                                    onblur="updateTitle(this)">
                                <option value="John Doe" selected>John Doe</option>
                                <option value="Smith">Smith</option>
                                <option value="Peter">Peter</option>
                                <option value="James">James</option>
                            </select>

                        </div>

                        <div class="col-lg-6">
                            <span><i class="fa-solid fa-calendar-days"></i></span>
                            <label class="editable-label" name="start_time" onclick="editTitle()"> Start
                                Date</label>
                            <input type="date" id="task-detail-start_time" name="start_time"
                                   class="form-control border-task editable-input" dir="auto" data-autosize="true"
                                   style="overflow: hidden; overflow-wrap: break-word; height: 36.8px; display: none;"
                                   onblur="updateTitle(this)">
                        </div>

                        <div class="col-lg-6 ">
                            <i class="fa-regular fa-calendar"></i>
                            <label id="duration" class="editable-label" name="duration" onclick="editTitle()">
                                Duration</label>
                            <input type="text" id="tduration" name="task"
                                   class="form-control border-task editable-input" dir="auto" data-autosize="true"
                                   style="overflow: hidden; overflow-wrap: break-word; height: 36.8px; display: none;"
                                   onblur="updateTitle(this)">
                        </div>

                        <div class="col-lg-6">
                        <span>
                            <i class="fa-solid fa-circle-chevron-down"></i> Status
                        </span>
                            <select id="projectStatuses" name="projectStatuses" class="selectpicker">
                                <option data-content="<span class='badge rounded-pill  bg-primary'>STARTED</span>"
                                        value="STARTED" selected>STARTED
                                </option>
                                <option data-content="<span class='badge rounded-pill  bg-warning'>IN_PROGRESS</span>"
                                        value="IN_PROGRESS">IN_PROGRESS
                                </option>
                                <option data-content="<span class='badge rounded-pill  bg-success'>FINISHED</span>"
                                        value="FINISHED">FINISHED
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-12">
                            <span><i class="fa-solid fa-bars-staggered"></i></span>
                            <label id="description-label" class="editable-label" name="description"
                                   onclick="toggleEditor()"> Description</label>
                            <textarea id="description-editor" class="form-control editable-input" name="description"
                                      rows="5" style="display: none;"></textarea>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- task's details end -->

    <!-- add task -->
    <div class="modal fade" data-bs-keyboard="true" id="add-task">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content task-content">
                <div class="modal-header">
                    <h2 class="card-title" style="text-align:center">Add Task</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="row g-3" action="/project" id="todo-form" method="GET"  novalidate>
                        <div class="col-lg-6">
                            <label for="task" class="col-sm-12 col-form-label">Task Name <span style="color:red"> *</span></label>
                            <input type="text" class="form-control border-task" name="task" id="task" data-type="task">
                            <div class="invalid-feedback">Task name is required and cannot be empty.</div>
                        </div>

                        <div class="col-lg-6">
                            <label for="pm" class="col-sm-12 col-form-label" name="pm">Project Manager <span style="color:red"> *</span></label>
                            <select class="form-control selectpicker" aria-label="Select Project Manager" data-live-search="true" id="pm" name="pm" multiple data-type="pm">
                                <option>Category</option>
                                <option>Android</option>
                                <option>IOS</option>
                                <option>Ui/Ux Design</option>
                                <option>Development</option>
                            </select>
                            <div class="invalid-feedback">Please select a Project Manager.</div>
                        </div>

                        <div class="col-md-6">
                            <label for="start_time" class="col-sm-12 col-form-label" name="start_time">Start Date <span style="color:red"> *</span></label>
                            <input type="date" class="form-control border-task" id="start_time" name="start_time" data-type="start_time">
                            <div class="invalid-feedback">Start date is required.</div>
                        </div>

                        <div class="col-md-6">
                            <label for="end_time" class="col-sm-12 col-form-label" name="end_time">End Date <span style="color:red"> *</span></label>
                            <input type="date" class="form-control border-task" id="end_time" name="end_time" data-type="end_time">
                            <div class="invalid-feedback">End date is required.</div>
                        </div>

                        <div class="col-12">
                            <label for="description" class="col-sm-12 col-form-label" name="description">Description</label>
                            <textarea class="form-control border-task-description" id="description" name="description" rows="2" data-type="description"></textarea>
                            <div class="invalid-feedback">Description is required.</div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary col-2" data-dismiss="modal">Add</button>
                            <button type="reset" class="btn btn-secondary mr-3" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- add task -->

    <!-- confrim box for delete -->
    <div class="modal fade" id="confirm-box" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Are you sure you want to delete ?</span>
                    <button class="btn btn-danger col me-1">YES</button>
                    <button class="btn btn-primary col" data-bs-dismiss="modal" aria-label="Close">
                        NO
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- confirm box for delete -->

    <!--    for select drop-drown-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- fontawesome -->
    <script src="/js/fontawesome.js"></script>

    <!-- jquery -->
    <script src="/js/jquery.3.7.1.min.js"></script>

    <!-- datable table -->
    <script src="/js/databales.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- javascript libraries -->
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/lib/quill/quill.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/forprogresscircleiguess.js"></script>

    <!-- sort (department, project), form validation and search bar behavior are all here -->
    <script src="/js/custome.js"></script>


    <script>
        let form = $("#todo-form");

        let task = form.find('#task');
        let start_time = form.find('#start_time');
        let end_time = form.find('#end_time');
        let description = form.find('#description');


        function validateTask(task) {
            if(!task || task.trim() === '') {
                return false;
            }

            return true;
        }


        function validateStartTime(start_time) {
            if(!start_time || start_time.trim() === '') {
                return false;
            }

            return true;
        }


        function validateEndTime(end_time) {
            if(!end_time || end_time.trim() === '') {
                return false;
            }

            return true;
        }


        function validateDescription(description) {
            if(!description || description.trim() === '') {
                return false;
            }

            return true;
        }

        form.on("input",function (e) {
            let target = $(e.target);
            let parent = target.parent();
            let type = target.attr("data-type").toLowerCase();
            switch (type) {

                case "task":
                    console.log(validateTask(target.val()));
                    let pTask = $("<p>")
                        .addClass("text-danger fs-6")
                        .text("Not a valid email");

                    if (!validateDescription(target.val())) {
                        parent.removeClass("was-validated");
                        if (parent.find("p").length === 0) {
                            parent.append(pTask);
                        }
                    } else {
                        let existingP = parent.find("p");
                        if (existingP.length > 0) {
                            existingP.remove();
                        }
                        if ( parent.find(".valid-feedback").length === 0 &&  validateTask(target.val()) ) {
                            existingP = $("<div>")
                                .addClass("valid-feedback")
                                .text("good");
                            parent.append(existingP);
                        }
                        parent.addClass("was-validated");
                    }
                    break;


                case "start_time":
                    console.log(validateStartTime(target.val()));
                    let pStartTime = $("<p>")
                        .addClass("text-danger fs-6")
                        .text("Not a valid email");

                    if (!validateDescription(target.val())) {
                        parent.removeClass("was-validated");
                        if (parent.find("p").length === 0) {
                            parent.append(pStartTime);
                        }
                    } else {
                        let existingP = parent.find("p");
                        if (existingP.length > 0) {
                            existingP.remove();
                        }
                        if ( parent.find(".valid-feedback").length === 0 &&  validateStartTime(target.val()) ) {
                            existingP = $("<div>")
                                .addClass("valid-feedback")
                                .text("good");
                            parent.append(existingP);
                        }
                        parent.addClass("was-validated");
                    }
                    break;

                case "end_time":
                    console.log(validateEndTime(target.val()));
                    let pEndTime = $("<p>")
                        .addClass("text-danger fs-6")
                        .text("Not a valid email");

                    if (!validateEndTime(target.val())) {
                        parent.removeClass("was-validated");
                        if (parent.find("p").length === 0) {
                            parent.append(pEndTime);
                        }
                    } else {
                        let existingP = parent.find("p");
                        if (existingP.length > 0) {
                            existingP.remove();
                        }
                        if ( parent.find(".valid-feedback").length === 0 &&  validateEndTime(target.val()) ) {
                            existingP = $("<div>")
                                .addClass("valid-feedback")
                                .text("good");
                            parent.append(existingP);
                        }
                        parent.addClass("was-validated");
                    }
                    break;

                case "description":
                    console.log(validateDescription(target.val()));
                    let pDescription = $("<p>")
                        .addClass("text-danger fs-6")
                        .text("Not a valid email");

                    if (!validateDescription(target.val())) {
                        parent.removeClass("was-validated");
                        if (parent.find("p").length === 0) {
                            parent.append(pDescription);
                        }
                    } else {
                        let existingP = parent.find("p");
                        if (existingP.length > 0) {
                            existingP.remove();
                        }
                        if ( parent.find(".valid-feedback").length === 0 &&  validateDescription(target.val()) ) {
                            existingP = $("<div>")
                                .addClass("valid-feedback")
                                .text("good");
                            parent.append(existingP);
                        }
                        parent.addClass("was-validated");
                    }
                    break;

            }
        });

        form.on("submit", function(e) {
            let task = $(this).find('#task');
            // let pm = $(this).find('#pm');
            let start_time = $(this).find('#start_time');
            let end_time = $(this).find('#end_time');
            let description = $(this).find('#description');

            if(!validateTask(task.val()) || !validateStartTime(start_time.val()) || !validateEndTime(end_time.val()) ||  !validateDescription(description.val())) {
                task.parent().addClass("was-validated");
                // pm.parent().addClass("was-validated");
                start_time.parent().addClass("was-validated");
                end_time.parent().addClass("was-validated");
                description.parent().addClass("was-validated");

                if(validateTask(task.val())) {
                    task.parent().addClass("was-validated");
                }

                // if(validatePm(pm.val())) {
                //     pm.parent().addClass("was-validated");
                // }

                if(validateStartTime(start_time.val())) {
                    start_time.parent().addClass("was-validated");
                }

                if(validateEndTime(end_time.val())) {
                    end_time.parent().addClass("was-validated");
                }

                if(validateDescription(description.val())) {
                    description.parent().addClass("was-validated");
                }

                e.preventDefault();
                e.stopPropagation();
                console.log("task is not valid");
            }

        });

    </script>

    <script>

        // Get all elements with the common class name
        const editableLabels = document.querySelectorAll('.editable-label');
        const editableInputs = document.querySelectorAll('.editable-input');

        // Add event listeners for each element
        editableLabels.forEach(label => {
            label.addEventListener('click', editTitle);
        });

        editableInputs.forEach(input => {
            input.addEventListener('blur', function () {
                updateTitle(this);
            });
        });

        function editTitle() {
            const label = this;
            const input = label.nextElementSibling;

            label.style.display = 'none';
            input.style.display = 'block';
            input.value = label.textContent;
            input.focus();
        }

        function updateTitle(inputField) {
            const input = inputField;
            const label = input.previousElementSibling;

            label.textContent = input.value;
            label.style.display = 'inline';
            input.style.display = 'none';
        }


        function toggleEditor() {
            var editor = document.getElementById('description-editor');
            if (editor.style.display === 'none' || editor.style.display === '') {
                editor.style.display = 'block';
            } else {
                editor.style.display = 'none';
            }
        }


        // ========================== AJAX FUNCTION (JUST TESTING) ===========================

        function ajaxRequest(url, method = 'POST', data, callback) {
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        callback(xhr.responseText);
                    } else {
                        // Handle errors here
                        console.error("Request failed with status code: " + xhr.status);
                    }
                }
            };

            xhr.open(method, url, true);

            if (method === "POST") {
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            }

            xhr.send(data);
        }

        // Example of how to use the ajaxRequest function to send data with a POST request

        const todoForm = document.getElementById("todo-form");
        const input = document.getElementById("todo-input");
        const todoLane = document.getElementById("todo-lane");
        const draggables = document.querySelectorAll(".task");
        const droppables = document.querySelectorAll(".swim-lane");
        const modal = document.getElementById("task-details");

        const trashCanContainer = document.querySelector('.trash-can-container')

        todoForm.addEventListener("submit", (e) => {
            e.preventDefault();
            const value = input.value;

            if (!value) return;

            let newTask = document.createElement('div');
            newTask.classList.add('task', 'py-1', 'row', 'rounded-2', 'border-primary', 'border-2', 'border');
            newTask.setAttribute('draggable', 'true');
            newTask.setAttribute('data-bs-toggle', 'modal');
            newTask.setAttribute('data-bs-target', '#task-details');

            // Create the inner content of the task
            newTask.innerHTML = `
                <div class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break">
                    ${value}
                </div>
                <div class="col d-flex justify-content-between align-items-center">
                    <img src="https://source.unsplash.com/random/200x200?sig=1" class="img-fluid rounded-circle" alt="" style="width: 30px;">
                </div>
            `;

            newTask.addEventListener("dragstart", (e) => {
                newTask.classList.add("is-dragging");
                currentTask = newTask
                console.log("deagging")
            });

            newTask.addEventListener('click', (e) => {
                modal.querySelector('.modal-title').innerText = newTask.innerText
            })

            newTask.addEventListener("dragend", () => {
                newTask.classList.remove("is-dragging");
                console.log(newTask);
                if (currentZone.classList.contains('dummy-trash')) {
                    bModal.show()
                }
                task.classList.remove("is-dragging");
            });

            todoLane.appendChild(newTask);

            input.value = "";
        });

        let currentZone = null

        const comfirmBox = document.querySelector('#confirm-box')
        const bModal = new bootstrap.Modal(comfirmBox)
        let currentTask;

        draggables.forEach((task) => {
            task.addEventListener("dragstart", () => {
                task.classList.add("is-dragging");
                currentTask = task
                console.log(currentZone)
            });
            task.addEventListener("dragend", (e) => {

                console.log(e.target)
                console.log(e.target.classList)
                if (currentZone.classList.contains('dummy-trash')) {
                    bModal.show()
                }
                task.classList.remove("is-dragging");

            });

            task.addEventListener('click', function (e) {
                modal.querySelector('.modal-title').innerText = task.innerText
            })
        });

        comfirmBox.addEventListener('click', function (e) {
            if (e.target.innerText.toLowerCase() === 'yes') {
                currentTask.remove()
                document.querySelector('.trash').classList.remove('drag-over')
                bModal.hide()
                let postData = JSON.stringify({ key1: "value1", key2: "value2" });
                console.log('this task will be deleted', currentTask)
                ajaxRequest("/data", "POST", postData, function (response) {
                    // Handle the response data here
                    console.log(response);
                });
            } else if (e.target.innerText.toLowerCase() === 'no') {
                document.querySelector('.trash').classList.remove('drag-over')
                bModal.hide()
            }
        })

        // ======================= TRASH BRN ======================

        if (trashCanContainer != null) {

            console.log(trashCanContainer)
            trashCanContainer.addEventListener('dragover', function (e) {
                e.preventDefault();
                currentZone = trashCanContainer;
                currentTask = document.querySelector('.is-dragging')
                if (currentTask === null) return

                console.log(this)
                document.querySelector('.trash').classList.add('drag-over')

            })

            trashCanContainer.addEventListener('dragleave', function (e) {
                document.querySelector('.trash').classList.remove('drag-over')
            })

        }

        // =========================== TRASH BIN =============================

        // ========================== AJAX FUNCTION (JUST TESTING) ===========================

        droppables.forEach((zone) => {
            zone.addEventListener("dragover", (e) => {
                e.preventDefault();
                currentZone = zone
                console.log(undefined)
                console.log(currentZone)

                const bottomTask = insertAboveTask(zone, e.clientY);
                const curTask = document.querySelector(".is-dragging");

                if (curTask === null) {
                    return
                }

                const curZone = zone.getAttribute("id");

                switch (curZone) {
                    case "todo-lane":
                        curTask.classList.add("border-primary");
                        curTask.classList.remove(
                            "border-dark",
                            "border-success"
                        );
                        break;
                    case "doing-lane":
                        curTask.classList.add("border-dark");
                        curTask.classList.remove(
                            "border-primary",
                            "border-success"
                        );
                        break;
                    case "done-lane":
                        curTask.classList.add("border-success");
                        curTask.classList.remove(
                            "border-primary",
                            "border-dark"
                        );
                        break;
                }

                if (!bottomTask) {
                    zone.appendChild(curTask);
                } else {
                    zone.insertBefore(curTask, bottomTask);
                }
            });
        }); const insertAboveTask = (zone, mouseY) => {
            const els = zone.querySelectorAll(".task:not(.is-dragging)");

            let closestTask = null;
            let closestOffset = Number.NEGATIVE_INFINITY;

            els.forEach((task) => {
                const { top } = task.getBoundingClientRect();

                const offset = mouseY - top;

                if (offset < 0 && offset > closestOffset) {
                    closestOffset = offset;
                    closestTask = task;
                }
            });

            return closestTask;
        };



    </script>
</div>
</body>
</html>
