<!--

    TODO :: GANTT CHART FOR PROJECT

    TODO :: ADD DESIGN FOR TASK'S DETAILS WHEN CLICK ON TASK

    TODO :: SHOULD BE ABLE TO UPDATE IN DETAIL MODAL

    TODO :: REDESIGN TASK ADD FORM

    TODO :: SHOULD BE ABLE TO ADD MEMBER IN ADD TASK ??
vs
 -->
<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout"
>
    <head> </head>

    <body>
        <div
            class="container-fluid position-relative d-flex p-0"
            layout:fragment="content"
        >
            <!-- Content Start -->
            <div
                class="content"
                style="
                    background-color: #e5e5f7;
                    opacity: 1;
                    background-image: radial-gradient(
                        #444cf7 0.6000000000000001px,
                        #e5e5f7 0.6000000000000001px
                    );
                    background-size: 12px 12px;
                "
            >
                <div th:replace="fragments/navigation :: aside"></div>

                <div class="container-fluid mt-2">
                    <!-- nav for task and gantt chart start -->
                    <nav>
                        <ul
                            class="nav nav-tabs rounded-top"
                            id="myTab"
                            role="tablist"
                        >
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active border-primary border border-bottom-0"
                                    id="tasks-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#task"
                                    type="button"
                                    role="tab"
                                    aria-controls="task"
                                    aria-selected="false"
                                >
                                    Tasks
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link border-primary border border-bottom-0 rounded-top"
                                    id="gantt-chart-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#gantt-chart"
                                    type="button"
                                    role="tab"
                                    aria-controls="gantt-chart"
                                    aria-selected="false"
                                >
                                    Gantt chart
                                </button>
                            </li>
                            <div
                                class="d-flex justify-content-end trash-can-container"
                            >
                                <span class="trash align-self-end">
                                    <span></span>
                                </span>
                            </div>
                        </ul>
                    </nav>
                    <!-- nav for task and gantt chart end -->
                    <div
                        class="tab-content"
                        style="height: 670px"
                        id="myTabContent"
                    >
                        <div
                            class="tab-pane fade show active"
                            id="task"
                            role="tabpanel"
                            aria-labelledby="tasks-tab"
                        >
                            <div class="board">
                                <!-- add task form start -->
                                <!-- TODO :: REDESIGN ADD TASK FORM -->
                                <!-- add task form end -->

                                <div class="lanes" id="sort-container">
                                    <!-- TODO :: SHOW TASK'S DETAILS WHEN CLICK ON TASK -->
                                    <!-- todo start -->
                                    <div class="lane">
                                        <h3
                                            class="heading bg-primary text-white rounded-top p-2 d-flex justify-content-between align-items-center"
                                        >
                                            TODO
                                            <button
                                                type="submit"
                                                class="btn btn-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#add-task"
                                            >
                                                <i
                                                    class="bi bi-plus-circle"
                                                ></i>
                                            </button>
                                        </h3>
                                        <div
                                            class="swim-lane p-3"
                                            id="todo-lane"
                                        >
                                            <div
                                                class="task py-1 row rounded-2 border-primary border-2 border"
                                                draggable="true"
                                                data-bs-toggle="modal"
                                                data-bs-target="#task-details"
                                            >
                                                <div
                                                    class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break"
                                                >
                                                    i have no idea what am
                                                    iawercawecrawercawecrawecraw
                                                    even doingawecrawecrawe
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-between align-items-center"
                                                >
                                                    <img
                                                        src="https://source.unsplash.com/random/200x200?sig=1"
                                                        class="img-fluid rounded-circle"
                                                        alt
                                                        style="width: 30px"
                                                    />
                                                </div>
                                            </div>
                                            <div
                                                class="task py-1 row rounded-2 border-primary border-2 border"
                                                draggable="true"
                                                data-bs-toggle="modal"
                                                data-bs-target="#task-details"
                                            >
                                                <div
                                                    class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break"
                                                >
                                                    i have no idea what am
                                                    iawercawecrawercawecrawecraw
                                                    even doingawecrawecrawe
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-between align-items-center"
                                                >
                                                    <img
                                                        src="https://source.unsplash.com/random/200x200?sig=1"
                                                        class="img-fluid rounded-circle"
                                                        alt
                                                        style="width: 30px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="bg-primary rounded-bottom"
                                            style="height: 10px"
                                        ></div>
                                    </div>
                                    <!-- todo end -->
                                    <!-- doing start -->
                                    <div class="lane">
                                        <h3
                                            class="heading bg-info text-white rounded-top p-2"
                                        >
                                            DOING
                                        </h3>
                                        <div
                                            class="swim-lane p-3"
                                            id="doing-lane"
                                        >
                                            <div
                                                class="task py-1 row rounded-2 border-dark border-2 border"
                                                draggable="true"
                                                data-bs-toggle="modal"
                                                data-bs-target="#task-details"
                                            >
                                                <div
                                                    class="col-12 mb-2 lh-1 mh-50 modal-detail-title text-break"
                                                >
                                                    i like walking
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-between align-items-center"
                                                >
                                                    <img
                                                        src="https://source.unsplash.com/random/200x200?sig=1"
                                                        class="img-fluid rounded-circle"
                                                        alt
                                                        style="width: 30px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="bg-info rounded-bottom"
                                            style="height: 10px"
                                        ></div>
                                    </div>
                                    <!-- doing end -->
                                    <!-- done start -->
                                    <div class="lane">
                                        <h3
                                            class="heading bg-success text-white rounded-top p-2"
                                        >
                                            DONE
                                        </h3>
                                        <div
                                            class="swim-lane p-3"
                                            id="done-lane"
                                        ></div>
                                        <div
                                            class="bg-success rounded-bottom"
                                            style="height: 10px"
                                        ></div>
                                    </div>
                                    <!-- done end -->
                                </div>
                            </div>
                        </div>
                        <!-- gantt chart start -->
                        <div
                            class="tab-pane fade"
                            id="gantt-chart"
                            role="tabpanel"
                            aria-labelledby="gantt-chart-tab"
                        >
                            <!-- TODO :: PUT GANTT CHART HERE -->
                            ...
                        </div>
                        <!-- gantt chart end -->
                    </div>
                </div>
            </div>
            <!-- Content End -->
        </div>
    </body>
</html>
